<BODY LANG="en-AU" LINK="#0000ff" DIR="LTR">
<H2 CLASS="western">Record keeping</H2>
<TABLE WIDTH=4369 CELLPADDING=10 CELLSPACING=0>
	<COL WIDTH=2492>
	<COL WIDTH=1837>
	<THEAD>
		<TR>
			<TD COLSPAN=2 WIDTH=4349 BGCOLOR="#58285f" STYLE="border: none; padding: 0in">
				<P STYLE="margin-top: 0.13in; border-top: none; border-bottom: 1px dotted #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.08in; padding-left: 0in; padding-right: 0in">
				<FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=3 STYLE="font-size: 11pt">Table
				10: Summary of record keeping and notifications</FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2492 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.17in; background: #58285f"><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Records
				you need to keep</B></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1837 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.17in; background: #58285f"><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Notifications
				you need to action</B></FONT></FONT></FONT></P>
			</TD>
		</TR>
	</THEAD>
	<TBODY>
		<TR VALIGN=TOP>
			<TD WIDTH=2492 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Complaints</FONT></FONT></P>
			</TD>
			<TD WIDTH=1837 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Changes
				to staff including change of circumstances</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2492 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Additional
				records</FONT></FONT></P>
			</TD>
			<TD WIDTH=1837 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Change
				to service operations</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2492 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Additional
				absences records</FONT></FONT></P>
			</TD>
			<TD WIDTH=1837 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Vacancy
				information</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2492 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Copies
				of fees documents</FONT></FONT></P>
			</TD>
			<TD WIDTH=1837 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Cessation
				of operations</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2492 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Notice
				about a child at risk</FONT></FONT></P>
			</TD>
			<TD WIDTH=1837 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Changes
				to service contact information</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2492 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Copies
				of evidence supporting approval application for Child Care
				Subsidy</FONT></FONT></P>
			</TD>
			<TD WIDTH=1837 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Service
				entering administration or liquidation</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2492 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Documentation
				on police checks and working with children</FONT></FONT></P>
			</TD>
			<TD WIDTH=1837 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P>&nbsp;</P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2492 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Register
				of care</FONT></FONT></P>
			</TD>
			<TD WIDTH=1837 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P>&nbsp;</P>
			</TD>
		</TR>
	</TBODY>
</TABLE>
<H3 CLASS="western">What records need to be kept?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>To
maintain approval, providers must keep certain records and notify the
Department of Education of certain events. Failure to keep these
records and provide the required notifications can result in an
infringement notice, civil penalty order, criminal prosecution,
suspension or cancellation of provider or service approvals, or other
penalties.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>All
providers must keep and maintain the following records:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>complaints
	made to the provider, or to any of the services of the provider,
	relating to compliance with Family Assistance Law</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	record of attendance for each child for whom care is provided
	(regardless of eligibility for Child Care Subsidy), including
	records of any absences from care</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>statements
	or documents demonstrating that additional absence days in excess of
	the initial 42 absence days satisfy requirements (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/reporting-absences"><FONT COLOR="#165788"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Reporting
	absences</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>copies
	of invoices and receipts issued for the payment of child care fees</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>copies
	of all Statements of Entitlement issued and any statements issued to
	advise that there was a change of entitlement.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
must also keep a written record of the following, even if they would
not otherwise record them in writing:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
	notice given to a state or territory body about a child at risk of
	abuse or neglect</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>copies
	of the evidence and information provided with an application for
	approval about persons with management or control of a provider and
	persons responsible for the day-to-day operation of a service</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
	evidence or information produced to obtain police checks and working
	with children checks for personnel and to support any statements
	about these checks in an application for provider or service
	approval.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Written
records include records that are made and stored electronically, as
long as they are stored safely and any changes, apart from incidental
changes related to their storage and display, are also recorded.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
must keep written records of all required background checks for
specified personnel (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/specified-personnel"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Who
are specified personnel?</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Records
must be kept for seven years.</FONT></FONT></FONT></P>
<H3 CLASS="western">Do staff details need to be updated?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
will need to ensure that staff details are added to and kept up to
date through the PEP.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>This
needs to be done by persons with management or control of the
provider, who can add, update or remove the details of all child care
personnel for the provider.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Persons
responsible for the day-to-day operation of the service can add,
update or remove the details of child care personnel for the service
or services they manage.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Child
care personnel may be allocated one of the following roles:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>persons
	with management or control of the provider</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>persons
	responsible for the day-to-day operation of the service (operational
	responsibility)</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>service
	contact</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Family
	Day Care or In Home Care educator.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Details
can be found at the Department of Education website
at&nbsp;</FONT></FONT></FONT><A HREF="https://docs.education.gov.au/node/50686"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>docs.education.gov.au/node/50686</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>.</FONT></FONT></FONT></P>
<H3 CLASS="western"><A NAME="_bookmark41"></A>When is a register of
care required?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>In
simple terms, a Family Day Care educator has no entitlement to Child
Care Subsidy or Additional Child Care Subsidy for the care provided
to their child by another Family Day Care educator on a day that they
are also providing care as a Family Day Care educator, unless an
exemption applies (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/sessions-care#_bookmark27"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Can
care be provided by a Family Day Care service to a Family Day Care
educator’s child?</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
Family Day Care service must keep a register of any care provided by
an educator within their service whose child or whose partner’s
child is, on the same day, being provided care by another Family Day
Care educator. This includes where the other Family Day Care educator
works for the same or a different Family Day Care service.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
register must record, among other things, each session of care in
which this occurs and the reason an exemption applies—that is, one
of the exemptions set out in the Minister’s Rules. The register
must be updated within 14 days after the end of each week in which
care was provided.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>More
specifically, the register of care must set out:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	name of the Family Day Care educator and their or their partner’s
	child care personnel ID</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	name of the individual who would otherwise be eligible for Child
	Care Subsidy for the session of care (usually the Family Day Care
	educator, but it could be the Family Day Care educator’s partner)</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	name of the child and his or her Customer Reference Number</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
	unique identifier assigned by the department to the enrolment of the
	child for care by the service</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	name of the child care service at which the session of care was
	provided to the child</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	exceptions that apply.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>This
register of care should not be used for other purposes. If a Family
Day Care service wishes to keep a register of the care provided by
its educators to their own children or to relatives, the Family Day
Care service may choose to do so, although it is not a requirement
under law. Such a register should be kept separately from the
register of care discussed above.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Where
an exception does apply, documentary evidence must be uploaded into
the payments system and records must be maintained so that the
entitlement can be properly determined.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Documentary
evidence of the exception must be uploaded and provided to the
service before the service is required to submit an attendance
report, and records of this exception are to be kept for seven years.</FONT></FONT></FONT></P>
<H3 CLASS="western">What other records do Family Day Care providers
need to keep?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Where
a Family Day Care educator provides care at premises other than the
educator’s residence, a written record must be kept of the address
and contact number of the premises.</FONT></FONT></FONT></P>
<H2 CLASS="western">Notifications</H2>
<H3 CLASS="western"><A NAME="_bookmark43"></A>What notice needs to be
given?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
must notify the Department of Education of any of the following
changes to their service(s), within the timeframe specified.
Penalties may apply if providers fail to make required notifications.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
must notify the department at least 42 days before they stop
operating a service.</FONT></FONT></FONT></P>
<TABLE WIDTH=4369 CELLPADDING=10 CELLSPACING=0>
	<COL WIDTH=2656>
	<COL WIDTH=1673>
	<THEAD>
		<TR>
			<TD COLSPAN=2 WIDTH=4349 BGCOLOR="#58285f" STYLE="border: none; padding: 0in">
				<P STYLE="margin-top: 0.13in; border-top: none; border-bottom: 1px dotted #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.08in; padding-left: 0in; padding-right: 0in">
				<FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=3 STYLE="font-size: 11pt">Table
				11: Matters that child care providers need to notify to the
				Department of Education and the specified timeframes</FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.17in; background: #58285f"><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Matters
				to be notified</B></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.17in; background: #58285f"><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Timeframe
				for notification</B></FONT></FONT></FONT></P>
			</TD>
		</TR>
	</THEAD>
	<TBODY>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">The
				total hourly fee charged by the service for care for each
				approved child care service of the provider (before any fee
				reduction amounts or other rebates or discounts) as set out in
				any policy or advertising information provided to individuals who
				enrol their children with the service.</FONT></FONT></P>
				<P STYLE="margin-top: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Any
				change to the fee information.</FONT></FONT></P>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				14 days of any of the following:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">commencement
					of the service</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">notice
					of approval of the service</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">any
					change.</FONT></FONT></P>
				</UL>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">The
				hours and days on which each approved child care service of the
				provider operates, with opening and closing times notified in
				24-hour format.</FONT></FONT></P>
				<P STYLE="margin-top: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Any
				change to the operating hours.</FONT></FONT></P>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				14 days of:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">commencement
					of the service</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">notice
					of approval of the service</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">any
					change.</FONT></FONT></P>
				</UL>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">The
				number of anticipated vacancies that the provider has available
				to fill in each of its approved child care services for each day
				of the following week (beginning on a Monday).</FONT></FONT></P>
				<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">A
				vacancy is:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">for
					a Centre Based Day Care service or a Family Day Care service—an
					ongoing full-day vacancy</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">for
					an Outside School Hours Care service—an ongoing full-session
					vacancy.</FONT></FONT></P>
				</UL>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">By
				8.00 pm (AEST) each Friday.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Ceasing
				to operate an approved child care service:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">to
					avoid being in breach of a law of the Commonwealth, a state or a
					territory</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">due
					to circumstances beyond the provider’s control when 42 days’
					notice cannot be given.</FONT></FONT></P>
				</UL>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				24 hours after ceasing to operate the service.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Change
				of physical or postal address of:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">the
					provider</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">the
					premises from which any of the provider’s approved child care
					services operate.</FONT></FONT></P>
				</UL>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">No
				later than 30 days before the change or, if the change was not
				foreseeable at that time, as soon as practicable.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Change
				to the name of:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">the
					provider</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">any
					of the provider’s approved child care services, including
					evidence of name change.</FONT></FONT></P>
				</UL>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				14 days after the change.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Change
				of any of the following contact details of the provider or of any
				of the provider’s approved child care services:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">email
					address</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">website</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">telephone
					number</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">fax
					number.</FONT></FONT></P>
				</UL>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				14 days after the change.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Information
				about any new person:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">with
					management or control of the provider (including any person who
					becomes responsible for the day-to-day operation of any of the
					provider’s approved child care services)</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">who
					becomes a Family Day Care educator or In Home Care educator for
					any such service.</FONT></FONT></P>
				</UL>
				<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">The
				information must include:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">the
					name and contact details of the new person</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">a
					declaration that the provider has undertaken all background
					checks required for the new person, together with details of the
					new person’s working with children card, if applicable.</FONT></FONT></P>
				</UL>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				seven days after the new person becomes a person with management
				or control of the provider or a Family Day Care or In Home Care
				educator.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Change
				of the name or contact details for any of the following persons:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">a
					person with management or control of the provider (including any
					person who is responsible for the day-to-day operation of any of
					the provider’s approved child care services)</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">a
					Family Day Care educator or In Home Care educator for any such
					service.</FONT></FONT></P>
				</UL>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				seven days after the provider becomes aware of the change.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">The
				provider becomes aware, because of a background check undertaken
				for a specified person, that the person:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">has
					a serious conviction or finding of guilt for any of the
					following offences under a law of Australia or of a foreign
					country</FONT></FONT></P>
					<UL>
						<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">an
						indictable offence punishable by a maximum of two years
						imprisonment or 40 penalty units</FONT></FONT></P>
						<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">an
						offence involving violence or a sexual offence</FONT></FONT></P>
						<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">an
						offence involving fraud, stealing or dishonesty</FONT></FONT></P>
					</UL>
					<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">is
					an undischarged bankrupt, or</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">was
					a director or secretary of a corporation when the corporation
					went into administration, receivership or liquidation, or at any
					time during the 12 months beforehand.</FONT></FONT></P>
				</UL>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				seven days after the provider receives a record of the check.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">An
				event or circumstance in relation to a person with management or
				control of the provider (including a person responsible for the
				day-to-day operation of any of the provider’s approved child
				care services) that reasonably indicates that the person is not
				likely to be a fit and proper person to be involved in the
				administration of Child Care Subsidy.</FONT></FONT></P>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				seven days after the provider becomes aware of the event or
				circumstance.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">A
				person stops having management or control of the provider
				(including when a person stops having day-to-day responsibility
				for the operation of any of the provider’s approved child care
				services).</FONT></FONT></P>
				<P STYLE="margin-top: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">The
				provider must also notify the Secretary of the Department of
				Education of when, and the reason, the person stopped having
				management or control of the provider.</FONT></FONT></P>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				seven days after the person stops having management or control of
				the provider.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">An
				educator obtains a child care qualification from a registered
				training organisation and:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">the
					provider or person with management or control has an interest in
					that registered training organisation by virtue of which the
					provider or person owns, operates, controls or carries out the
					registered training organisation, and either</FONT></FONT></P>
					<UL>
						<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">it
						appears that the educator has not obtained the qualification
						solely on her or his own merit</FONT></FONT></P>
						<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">the
						qualification has otherwise been obtained in circumstances that
						might be perceived as demonstrating a conflict of interest.</FONT></FONT></P>
					</UL>
				</UL>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				seven days after the provider becomes aware of the matter.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">A
				provider or a person with management or control of the provider
				obtains an interest, or is likely to obtain an interest, in a
				business which may affect their ability to comply with Family
				Assistance Law, where the approval may benefit the business or
				where a conflict of interest might reasonably be perceived to
				exist.</FONT></FONT></P>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				seven days of the provider becoming aware of the matter.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Change
				in the status of a working with children card for anyone who is
				required to have such a card under section 195D of the&nbsp;</FONT></FONT><A HREF="https://www.legislation.gov.au/Details/C2018C00288/Html/Volume_2#_Toc519678753"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><I><U>A
				New Tax System (Family Assistance) (Administration) Act 1999</U></I></FONT></FONT></FONT></A><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">—for
				example, if the card is amended, suspended or revoked.</FONT></FONT></P>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				24 hours after the provider becomes aware of the change</FONT></FONT></P>
				<P STYLE="margin-top: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">of
				status.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">The
				provider enters into administration, receivership, liquidation or
				bankruptcy, and the details of this event.</FONT></FONT></P>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				24 hours after the event.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Unexpected
				closure of any of the provider’s approved child care services
				due to unforeseen circumstances.</FONT></FONT></P>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				24 hours after the closure.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=2656 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">A
				serious conviction or finding of guilt of:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">a
					person with management or control of the provider (including a
					person who becomes responsible for the day-to-day operation of
					any of the provider’s approved child care services), or</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">a
					Family Day Care educator, In Home Care educator, or another
					educator.</FONT></FONT></P>
				</UL>
			</TD>
			<TD WIDTH=1673 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Within
				24 hours after the provider becomes aware of the charging,
				conviction or finding of guilt.</FONT></FONT></P>
			</TD>
		</TR>
	</TBODY>
</TABLE>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Under
Family Assistance Law, a person may commit an offence and is liable
to a civil penalty if the provider does not give the Department of
Education written notice of the above matters within the required
timeframes.</FONT></FONT></FONT></P>
<H3 CLASS="western">How is notice given?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>All
notifications can be made through a service's child care software or
the PEP. However, providers will need to ensure that their child care
software can update and is updating required information.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
</BODY>
