<BODY LANG="en-AU" LINK="#0000ff" DIR="LTR">
<H2 CLASS="western">Inclusion Support Program</H2>
<H3 CLASS="western">Inclusion Support Program</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
Inclusion Support Program is designed to assist child care services
to include children with additional needs by providing tailored
inclusion advice and support from contracted Inclusion Agencies as
well as funding to address more challenging inclusion barriers.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>It
funds providers to build their ability to include children with
additional needs in mainstream services so that these children can
learn and develop alongside their peers.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Children
with additional needs may include:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>children
	with disability, including those undergoing assessment for
	disability</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Aboriginal
	and Torres Strait Islander children</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>children
	from culturally and linguistically diverse backgrounds</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>children
	from a refugee or humanitarian background</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>children
	with serious medical conditions</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>children
	presenting with language and speech delays</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>children
	presenting with disruptive behaviour.</FONT></FONT></FONT></P>
</UL>
<H3 CLASS="western">Inclusion Agencies</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
Inclusion Support Program is delivered across the country by seven
Inclusion Agencies (one for each state and territory, except for New
South Wales and the Australian Capital Territory, which are serviced
by a single Inclusion Agency). Inclusion Agencies work with eligible
early childhood and care services to help them to care for children
with additional needs.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
who believe they need extra assistance to care for children with
additional needs should contact the Inclusion Agency for their state
or territory.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Working
with the Inclusion Agencies, providers will complete a Strategic
Inclusion Plan to identify and address the barriers that limit their
service’s ability to care for children with additional needs. The
Strategic Inclusion Plan is completed online through a web-based
application called the Inclusion Support Portal. A paper-based option
is available for services that do not have the IT infrastructure to
access the Inclusion Support Portal.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Where
additional resources are identified in a Strategic Inclusion Plan
that cannot be accessed through the local community, the Inclusion
Agency may refer the provider to the Specialist Equipment Library or
recommend that an application be made to the Inclusion Development
Fund.</FONT></FONT></FONT></P>
<H3 CLASS="western">Specialist Equipment Library</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Equipment
available from the Specialist Equipment Library may include:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>portable
	ramps to improve access</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>standing
	frames and full support swings to allow a child with high physical
	needs to participate in activities</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>hoists,
	slings, harnesses, change tables, toilet sets or steps, potty
	chairs, mobile stools and seating or posture aids for educators to
	assist them to lift and transfer children safely when carrying out
	basic care functions such as changing or going to the toilet</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>specialised
	inclusion toys such as switch toys</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>specialised
	furniture such as chairs, tables, desks and positioning equipment</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>communication
	cards or charts and Auslan dictionaries to enable the child and
	educators to communicate effectively.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
service’s need for specialist equipment must be identified in a
Strategic Inclusion Plan or recommended by a relevant professional,
such as an occupational therapist or physiotherapist, and endorsed by
the Inclusion Agencies.</FONT></FONT></FONT></P>
<H3 CLASS="western">Inclusion Development Fund</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
Inclusion Development Fund provides funding to assist eligible
services to address barriers to inclusion that cannot be resolved by
support provided by an Inclusion Agency or the Specialist Equipment
Library.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
national manager assesses and, where appropriate, approves Inclusion
Development Fund applications for all streams of funding from
eligible services. This ensures a nationally consistent and equitable
application of the Inclusion Development Fund eligibility
requirements which are outlined in the fund’s guidelines.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>There
are four discrete streams of Inclusion Development Fund support,
which have different eligibility criteria, application processes and
approved funding purposes. The four streams of support are:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Subsidy
	for an Additional Educator—per-hour funding to centre-based
	services to subsidise the employment of an additional educator to
	increase the educator-to-child ratio to support the inclusion of a
	child (or children) with disability.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Subsidy
	for Immediate/Time-Limited Support—enables centre-based services
	to immediately engage an additional educator for a time-limited
	period while an alternative and more stable solution is being
	determined.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Family
	Day Care Top-Up—supports eligible Family Day Care services to
	include children with disability with ongoing high support needs by
	providing a fee top-up payment where including the child results in
	the educator being unable to enrol the maximum number of children
	usually allowed.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Innovative
	Solutions—funds innovative and flexible solutions to inclusion
	where a barrier or barriers have been identified that cannot be
	addressed by the support provided by its Inclusion Agency.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Applications
for the Inclusion Development Fund funding can be made at any time
during the program to provide responsive support to services as they
enrol children with additional needs. Applications will be considered
on their merits. There are caps on Inclusion Development Fund
funding, and the approval of any application is contingent on the
availability of funding.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>For
guidelines and more information about the Inclusion Support Program,
including how to contact Inclusion Agencies or the Inclusion
Development Fund manager, see the Department of Education website
at&nbsp;</FONT></FONT></FONT><A HREF="http://www.education.gov.au/inclusion-support-programme-isp"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>www.education.gov.au/inclusion-support-programme-isp</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>.</FONT></FONT></FONT></P>
<H2 CLASS="western">Community Child Care Fund</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
Community Child Care Fund is designed to help eligible child care
providers address barriers to child care participation, particularly
in disadvantaged communities, including Indigenous communities. There
are various streams of funding, as explained below.</FONT></FONT></FONT></P>
<H3 CLASS="western">Community Child Care Fund—open competitive program</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Eligible
providers can apply for grant funding to:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>make
	it easier for disadvantaged or vulnerable families and communities
	to access and use child care services</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>support
	child care services operating in areas of limited supply to improve
	the financial viability and sustainability of their service</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>provide
	capital support (for modifying or extending buildings to increase
	the supply of child care places in areas of high unmet demand).</FONT></FONT></FONT></P>
</UL>
<H3 CLASS="western">Community Child Care Fund—restricted non-competitive program</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
Community Child Care Fund restricted non-competitive program is
available to specified providers only. Eligible providers will be
notified and invited to apply.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Eligible
providers can apply for grant funding to:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>ensure
	continuity of child care services during and beyond any period of
	transition</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>support
	eligible child care services to build capacity and operate
	sustainably under the new child care system</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>support
	services to increase participation by Indigenous children.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>For
more information about the Community Child Care Fund, see the
Department of Education website
at&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/community-child-care-fund-0"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>www.education.gov.au/community-child-care-fund-0</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>.
Grant opportunities, including eligibility criteria, will be
advertised on GrantConnect at&nbsp;</FONT></FONT></FONT><A HREF="http://www.grants.gov.au/"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>www.grants.gov.au.</U></FONT></FONT></FONT></A></P>
<H3 CLASS="western">Connected Beginnings program</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
Connected Beginnings program is designed to integrate early
childhood, maternal and child health, and family support services
with schools in a selected number of Aboriginal and Torres Strait
Islander communities experiencing disadvantage.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<A HREF="https://www.education.gov.au/connected-beginnings-program"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>More
information about&nbsp; the Connected Beginnings
program</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>&nbsp;(</FONT></FONT></FONT><A HREF="https://www.education.gov.au/"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>www.education.gov.au</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
</BODY>
