<BODY LANG="en-AU" LINK="#0000ff" DIR="LTR">
<H2 CLASS="western">In Home Care</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>In
Home Care is not regulated under the National Law. However, In Home
Care providers and services may be subject to other states and
territories’ legislative requirements based on their office
location and where they provide services. This may include:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Tasmania:&nbsp;</FONT></FONT></FONT><A HREF="https://www.legislation.tas.gov.au/view/html/inforce/current/act-2001-062"><FONT COLOR="#165788"><FONT FACE="Open Sans, serif"><FONT SIZE=3><I><U>Child
	Care Act 2001</U></I></FONT></FONT></FONT></A></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>South
	Australia:&nbsp;</FONT></FONT></FONT><A HREF="https://www.legislation.sa.gov.au/LZ/C/A/EDUCATION%20AND%20EARLY%20CHILDHOOD%20SERVICES%20(REGISTRATION%20AND%20STANDARDS)%20ACT%202011.aspx"><FONT COLOR="#165788"><FONT FACE="Open Sans, serif"><FONT SIZE=3><I><U>Education
	and Early Childhood Services (Registration and Standards) Act 2011</U></I></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Approved
In Home Care services must meet quality standards as outlined in
Minister’s Rules.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>More
detailed requirements relation to In Home Care can be found in the</FONT></FONT></FONT><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3><I>&nbsp;</I></FONT></FONT></FONT><A HREF="https://docs.education.gov.au/node/47766"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><I><U>In
Home Care National Guidelines</U></I></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>&nbsp;and&nbsp;</FONT></FONT></FONT><A HREF="https://docs.education.gov.au/documents/home-care-handbook"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><I><U>In
Home Care Handbook</U></I></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>.</FONT></FONT></FONT></P>
<H2 CLASS="western">Other exempt services</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">All
providers need to be approved under Family Assistance Law for
individuals to be eligible for Child Care Subsidy and Additional
Child Care Subsidy for the care their services provide.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">However,
certain services are exempt from meeting requirements under the
National Law and National Regulations for the purposes of their
Family Assistance Law approval. These are services that were funded
under the Budget Based Funded program prior to July 2018 and a small
number of other specified services under the Minister’s Rules.
These services are also exempt from Family Assistance Law
requirements relating to the minimum operating periods for Centre
Based Day Care and Outside School Hours Care, to allow for community
circumstances. The following sections set out the alternative
requirements for these services.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">These
services are required to meet the standards relating to safety,
quality and insurances and are required to submit an annual Quality
Improvement Plan so that they gradually align their practice with the
National Quality Framework.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Services
must be able to provide evidence of compliance with the additional
conditions of continued approval discussed below. This may involve
providing, on request, copies of certificates, qualifications,
policies and processes that support the delivery of the service as
described below.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">If
additional services are approved under these requirements, they will
be listed by name in the Minister’s Rules.</FONT></FONT></FONT></FONT></P>
<H2 CLASS="western">Requirements for other exempt services</H2>
<H3 CLASS="western">Commitment to high-quality child care</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
provider must be equipped to provide high-quality child care at the
service appropriate to the needs of families and the community having
regard to the provider’s ability and commitment to:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>providing
	a tailored, individual education program based on each child’s
	knowledge, ideas, culture, abilities and interests</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>developing
	a program that acknowledges and strengthens the cultural identity of
	children to whom care is provided at the service</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>ensuring
	children are properly supervised</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>ensuring
	reasonable precautions are taken to protect children from harm or
	injury and any hazard likely to cause harm or injury</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>ensuring
	at least one staff member who holds a current approved first aid
	qualification is on duty and present at the service that care is
	being provided by the service</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>carrying
	out any other activities the Secretary of the Department of
	Education considers necessary or appropriate for the provision of
	high-quality child care at the service.</FONT></FONT></FONT></P>
</UL>
<H3 CLASS="western">Serious incidents</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
provider must implement appropriate arrangements to manage serious
incidents, including (without limitation) notifying the Secretary of
the Department of Education in writing within 24 hours after either:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	serious incident occurs</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	circumstance occurs that could have resulted in the occurrence of a
	serious incident.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
following incidents are serious incidents:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	death of a child while being cared for by the service or because of
	an incident that occurred while being cared for by the service</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
	incident involving injury, harm or trauma to or illness of a child
	while being cared for by the service for which</FONT></FONT></FONT></P>
	<UL>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
		attention of a medical practitioner was sought, or ought to have
		been sought, or</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
		child attended, or ought to have attended, a hospital</FONT></FONT></FONT></P>
	</UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
	incident for which the attendance of emergency services at premises
	where care is usually provided is sought or ought to have been
	sought</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	child being cared for</FONT></FONT></FONT></P>
	<UL>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>is
		missing</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>appears
		to have been taken or removed from the premises where the service
		provides the care in a manner that would contravene the National
		Regulations, regardless of whether the regulations apply, or</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>is
		accidentally locked in or locked out of the premises where the care
		is being provided or any part of those premises.</FONT></FONT></FONT></P>
	</UL>
</UL>
<H3 CLASS="western">Work health and safety</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
applicable work health and safety laws include:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the&nbsp;</FONT></FONT></FONT><A HREF="https://www.legislation.gov.au/Details/C2018C00293"><FONT COLOR="#165788"><FONT FACE="Open Sans, serif"><FONT SIZE=3><I><U>Work
	Health and Safety Act 2011</U></I></FONT></FONT></FONT></A></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
	regulations or instruments made under that Act</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
	corresponding work, health and safety laws within the meaning of
	that Act.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
Department of Education does not administer the work health and
safety laws, but these notifications are required so that the
Secretary of the Department of Education can decide if there are any
issues that may impact on the continued operation or approval of a
service.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
provider must carry out the following duties as part of managing
workplace health and safety for the service:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>if,
	under the work health and safety laws, the provider is required to
	report a notifiable incident to the regulator arising out of the
	provision of care by the service, the provider must also</FONT></FONT></FONT></P>
	<UL>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>immediately,
		or as soon as possible afterwards, give written notice of the
		incident to the Secretary, together with a copy of any written
		notice given to the regulator</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>give
		the Secretary, within 14 days after the incident occurred, a report
		detailing the circumstances of the incident, the results of
		investigations of its cause, and any recommendations or strategies
		for prevention in the future</FONT></FONT></FONT></P>
	</UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>give
	the Secretary written notice with full details of the following</FONT></FONT></FONT></P>
	<UL>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
		suspected contravention of the work health and safety laws relating
		to the provision of care by the service within 24 hours after
		becoming aware of the suspected contravention</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
		cessation or direction to cease work under the work health and
		safety laws relating to the service due to unsafe work,
		immediately, or as soon as possible, after the provider is informed
		of any such cessation or direction</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
		workplace entry under the work health and safety laws by a work
		health and safety entry permit holder, or an inspector, to any
		premises of the service where care is being provided, within 24
		hours of becoming aware of any such workplace entry</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
		proceedings against the provider, or any decision or request by the
		regulator given to the provider, under the work health and safety
		laws, within 24 hours of becoming aware of any such proceedings,
		decision or request</FONT></FONT></FONT></P>
	</UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>provide
	the Secretary of the Department of Education with copies of all
	notices and correspondence issued to the provider by any person
	under the work health and safety laws within 24 hours after
	receiving any such notice or correspondence.</FONT></FONT></FONT></P>
</UL>
<H3 CLASS="western">Insurance</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
provider must always have in place the following insurance policies:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>workers
	compensation insurance for the service as required by law</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	current policy of insurance providing adequate cover for the service
	against public liability with a minimum cover of $10,000,000.</FONT></FONT></FONT></P>
</UL>
<H3 CLASS="western">Quality Improvement Plan</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
provider is required to have, within six months after the approval of
the service, a written Quality Improvement Plan that:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>is
	available to view by the Department of Education on request</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>assesses
	the service’s strengths and weaknesses against each of the seven
	key quality areas of the National Quality Standard of the National
	Quality Framework.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Please
note this requirement for Quality Improvement Plans is different from
that in the National Regulations, which do not apply to these exempt
services.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
provider is required to review the Quality Improvement Plan annually
by reassessing the service’s strengths and weaknesses against each
of the seven key quality areas and indicating progress and areas for
improvement.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
</BODY>
