<BODY LANG="en-AU" LINK="#0000ff" DIR="LTR">
<H1 CLASS="western">Child Care Subsidy</H1>
<H2 CLASS="western">Child Care Subsidy</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in"><A NAME="_GoBack"></A>
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Child
Care Subsidy is the main payment to assist families with the costs of
child care. It is, with some exceptions, paid directly to providers
to be passed on to families as a fee reduction.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Families
make a co-contribution to their child care fees and pay the provider
the difference between the fee charged and the subsidy amount.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>There
are three main aspects of Child Care Subsidy:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>an
	individual’s eligibility for Child Care Subsidy</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>types
	of child care and sessions of care covered by Child Care Subsidy</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>amount
	of Child Care Subsidy payments (entitlement).</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Each
of these is described in more detail in the following sections.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>While
a provider or service is not directly involved in the calculation of
a family’s entitlements (this is a matter between the family and
Centrelink), it is important that providers understand the rules
relating to Child Care Subsidy so they can discuss with families the
amount of fee reduction families will receive and the balance of the
fee charged that families will need to pay to the provider.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
should encourage families to provide true and complete information to
Centrelink for the purposes of claiming Child Care Subsidy, as well
as notify Centrelink of changes in circumstances. This is a legal
requirement of families, and the provision of incorrect information
may result in families incurring debts that need to be recovered
later.</FONT></FONT></FONT></P>
<P STYLE="background: #f8f4f0; line-height: 0.25in"><FONT COLOR="#58285f"><FONT FACE="Open Sans, serif"><FONT SIZE=5 STYLE="font-size: 17pt">Information
for families</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; background: #f8f4f0; line-height: 0.25in">
<A HREF="http://www.humanservices.gov.au/paymentfinder"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Centrelink
Payment and Service Finder</U></FONT></FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—to
estimate what the Child Care Subsidy might be and assess eligibility
for other support payments.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; background: #f8f4f0; line-height: 0.25in">
<A HREF="http://www.childcarefinder.gov.au/"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Childcarefinder.gov.au</U></FONT></FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—for
information about child care services, including early learning and
child care services, fees and vacancies.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; background: #f8f4f0; line-height: 0.25in">
<A HREF="https://my.gov.au/LoginServices/main/login?execution=e1s1"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>my.gov.au</U></FONT></FONT></FONT></A><FONT COLOR="#222222"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—to
create and then access a Centrelink online account, make Child Care
Subsidy claims and view the status of claims.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<H2 CLASS="western">Eligibility for Child Care Subsidy</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">For
Child Care Subsidy to be paid for a session of care provided for a
child, that child and their parents or carers (the individual) must
meet certain eligibility requirements.</FONT></FONT></FONT></FONT></P>
<H3 CLASS="western">Age requirements</H3>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Children
must:</FONT></FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">be aged 13 years
	or under, and</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">not attend high
	school (secondary school).</FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Providers
can provide care for children who do not meet these conditions, but
they should be aware that Child Care Subsidy will not be payable
unless there are specified circumstances.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">For
example, some older children with disability and children attending
secondary school at a young age may be eligible on a case-by-case
basis if they have a legitimate need to access subsidised care and
cannot be left unsupervised:</FONT></FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">children aged 13
	and under who are attending secondary school, including children
	with disability</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">children with
	disability aged 14 or 15 years</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">children with
	disability aged 16, 17 or 18 years in exceptional circumstances.</FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Centrelink
will consider the parent's eligibility in respect of these children
based on information and evidence provided by the parent at claim or
when updating their circumstances.</FONT></FONT></FONT></FONT></P>
<H3 CLASS="western">Immunisation requirements</H3>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">To
be eligible for the Child Care Subsidy a child must also meet
immunisation requirements.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
Australian Government considers that immunisation is an important
health measure for children and their families, as it is the safest
and most effective way of providing protection against harmful and
often deadly diseases. To meet the Child Care Subsidy immunisation
requirements, children must be immunised according to the standard
vaccination schedule, be on an eligible catch-up vaccination schedule
or have an approved exemption from being immunised (see the
Department of Human Services website
at&nbsp;</FONT></FONT><A HREF="http://www.humanservices.gov.au/individuals/enablers/what-are-immunisation-requirements/35396"><FONT COLOR="#2f446c">www.humanservices.gov.au/individuals/enablers/what-are-immunisation-requirements/35396</FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">).</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">There
is a short immunisation grace period which provides some flexibility
for families to meet the vaccination requirements where they may have
missed or forgotten a scheduled vaccination.</FONT></FONT></FONT></FONT></P>
<H3 CLASS="western">Residency requirements for parents</H3>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">To
receive Child Care Subsidy, the claimant or their partner must be an
Australian resident as defined under the&nbsp;</FONT></FONT><EM><A HREF="https://www.legislation.gov.au/Details/C2019C00183"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><U>Social
Security Act 1991</U></FONT></FONT></A></EM><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">&nbsp;or
be an eligible non-resident.</FONT></FONT></FONT></FONT></P>
<H4 CLASS="western">Information for families</H4>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">For
more information about the immunisation and residency requirements
for Child Care Subsidy, a family should contact Centrelink
(</FONT></FONT><A HREF="https://www.humanservices.gov.au/"><FONT COLOR="#2f446c">www.humanservices.gov.au</FONT></A><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">).</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<H2 CLASS="western">Determining Child Care Subsidy</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
amount of Child Care Subsidy to which a family is entitled is
determined by the:</FONT></FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">family income</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">results of an
	activity test</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">type of child
	care service.</FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">There
are caps on the hourly rate for which a subsidy will be paid, and in
some cases on the total subsidy that will be paid in each financial
year.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Withholding
part of a payment reduces the likelihood of debt for individuals. An
amount of 5 per cent of Child Care Subsidy entitlements is usually
withheld from payment, unless an alternative percentage is determined
by the department for the individual. At the end of the income year,
the amounts paid and withheld will be reconciled.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">In
exceptional circumstances, a determination can be made that a family
should receive more hours of support than the standard entitlement.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">It
is important that families keep Centrelink informed about any change
of family circumstances.</FONT></FONT></FONT></FONT></P>
<H3 CLASS="western">Family income</H3>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Family
income is the annual adjusted taxable income of the individual and
their partner (if they have a partner). It is used to determine the
percentage of Child Care Subsidy to which an individual is entitled.
For more information, see the Department of Human Services website
at&nbsp;</FONT></FONT><A HREF="https://www.humanservices.gov.au/individuals/enablers/what-adjusted-taxable-income/29571"><FONT COLOR="#2f446c">www.humanservices.gov.au/individuals/enablers/adjusted-taxable-income</FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">To
calculate the entitlements and payments for each child, the
individual will need to provide a reasonable estimate of their annual
adjusted taxable income directly to Centrelink. These details will be
used, along with the information submitted by the provider in their
session reports, for the calculation.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
percentage of subsidy relative to income level is set out in Table
A1, for 2019–20.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
lowest income threshold will be indexed by the Consumer Price Index
annually, and all other income thresholds will be increased by the
same dollar amount to match the rate at which the subsidy gradually
decreases.</FONT></FONT></FONT></FONT></P>
<TABLE WIDTH=4369 CELLPADDING=10 CELLSPACING=0>
	<COL WIDTH=1457>
	<COL WIDTH=2872>
	<THEAD>
		<TR>
			<TD COLSPAN=2 WIDTH=4349 BGCOLOR="#58285f" STYLE="border: none; padding: 0in">
				<P STYLE="margin-top: 0.13in; border-top: none; border-bottom: 1px dotted #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.08in; padding-left: 0in; padding-right: 0in">
				<FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=3 STYLE="font-size: 11pt">Table
				A1: Current levels of family income and the amount of Child Care
				Subsidy payable as a percentage of the actual fee charged or
				hourly rate cap, for 2019–20.</FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1457 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in; background: #58285f"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Family
				income</B></FONT></FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2872 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in; background: #58285f"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Subsidy
				per cent of the actual fee charged or hourly rate cap, whichever
				is lower</B></FONT></FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
	</THEAD>
	<TBODY>
		<TR VALIGN=TOP>
			<TD WIDTH=1457 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Up
				to $68,163</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2872 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">85
				per cent</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1457 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">More
				than $68,163 to below $173,163</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2872 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Decreasing
				to 50 per cent</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1457 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">$173,163
				to below $252,453</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2872 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">50
				per cent</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1457 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">$252,453
				to below $342,453</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2872 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Decreasing
				to 20 per cent</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1457 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">$342,453
				to below $352,453</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2872 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">20
				per cent</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1457 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">$352,453
				or more</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2872 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">0
				per cent</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
	</TBODY>
</TABLE>
<H3 CLASS="western">Activity test</H3>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
hours of subsidised child care per fortnight that a family is
entitled to is determined by an activity test. Depending on the
combined hours of work, training, study, recognised voluntary work or
other recognised activity undertaken, a family can receive up to 100
hours of subsidy per fortnight per child. Both the claimant and their
partner, if they have one, must satisfy the activity test unless they
are exempt. For claimants who are partnered, the number of subsidised
hours the family is entitled to will be based on the member of the
couple with the lowest activity test result, even when an exemption
applies.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
family or individual will provide activity details directly to
Centrelink. These details will be used, along with the information
submitted by the provider in their session reports and the family’s
income, to calculate the entitlements and payments for each child.</FONT></FONT></FONT></FONT></P>
<TABLE WIDTH=4369 CELLPADDING=10 CELLSPACING=0>
	<COL WIDTH=1537>
	<COL WIDTH=2792>
	<THEAD>
		<TR>
			<TD COLSPAN=2 WIDTH=4349 BGCOLOR="#58285f" STYLE="border: none; padding: 0in">
				<P STYLE="margin-top: 0.13in; border-top: none; border-bottom: 1px dotted #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.08in; padding-left: 0in; padding-right: 0in">
				<FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=3 STYLE="font-size: 11pt">Table
				A2: Hours of activity and maximum number of hours of Child Care
				Subsidy (per fortnight) per child</FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1537 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in; background: #58285f"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Hours
				of activity (per fortnight)</B></FONT></FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2792 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in; background: #58285f"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Maximum
				number of hours of subsidy (per fortnight) per child</B></FONT></FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
	</THEAD>
	<TBODY>
		<TR>
			<TD COLSPAN=2 WIDTH=4349 VALIGN=TOP BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">For
				families earning up to $68,163</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1537 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Fewer
				than 8 hours</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2792 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">24
				hours</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR>
			<TD COLSPAN=2 WIDTH=4349 VALIGN=TOP BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">For
				families earning up to $352,453</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1537 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">8–16
				hours</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2792 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">36
				hours</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1537 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">More
				than 16 up to 48 hours</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2792 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">72
				hours</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1537 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">More
				than 48 hours</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2792 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">100
				hours</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
	</TBODY>
</TABLE>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">A
broad range of activities meet the activity test requirements,
including paid work, self-employment, unpaid work in a family
business, looking for work, and recognised volunteering or studying.
Travel time from the child care service to your place of activity and
back to the child care service can be included (but not between home
and the child care). There are exemptions to the activity test for
parents who legitimately cannot meet the activity requirements.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Low-income
families on combined family incomes of $68,163 or less a year who do
not meet the activity test can access 24 hours of subsidised care per
fortnight under the Child Care Safety Net.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Families
who do not meet the activity test but have a preschool-age child
attending preschool in a Centre Based Day Care service will be
eligible for 36 hours of subsidised care per fortnight.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">People
with disability or impairment, including those who receive Disability
Support Pension or an invalidity service pension or who have been
diagnosed by a registered medical practitioner or clinical
psychologist as impaired to a significant degree may be exempt from
the activity test.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Families
who need more than their available hours of subsidised care per
fortnight due to exceptional circumstances can apply to Centrelink
for additional hours.</FONT></FONT></FONT></FONT></P>
<H4 CLASS="western">Information for families</H4>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">For
more details about how the activity test is applied, including
activities that can meet the activity test and exemptions, see the
Department of Human Services website
at&nbsp;</FONT></FONT><A HREF="https://www.humanservices.gov.au/individuals/services/centrelink/child-care-subsidy/how-much-you-can-get/your-activity-level-affects-it/activity-level-and-subsidised-care"><FONT COLOR="#2f446c">www.humanservices.gov.au/individuals/services/centrelink/child-care-subsidy/how-much-can-you-get/your-activity-level-affects-it</FONT></A><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">.</FONT></FONT></FONT></FONT></P>
<H3 CLASS="western">Activity test for preschool program attendance</H3>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
preschool category provides families who do not meet the activity
test with up to 36 hours of subsidised care per fortnight to support
their preschool-age child to attend a preschool program in a child
care service.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Families
who meet the activity test and engage in more than 16 hours of
recognised activities will result in being eligible for a higher
number of subsidised care hours per fortnight, in accordance with
Table A2 above.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">As
for all calculations of Child Care Subsidy, where a service indicates
that a session provided by a Centre Based Day Care service was part
of a preschool program, the subsidy will be calculated based on the
sessions of care provided to the child. For example, where a parent
is eligible for subsidised hours under the preschool category (as
they do not meet the activity test) and the child attended any part
of a 10-hour session, Child Care Subsidy will be calculated for 10
hours. This would reduce the parent’s balance of subsidised hours
to 26 hours from their total of 36 for the fortnight.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">While
the maximum length for a single session of care under Family
Assistance Law is 12 hours, providers have flexibility in the hours
per day and days per week that they operate. Providers are required
to notify the Department of Education within 14 days of any change in
its operating hours.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Child
care providers should consider changes that deliver flexible,
cost-effective care and learning services for families. For example,
providers could choose to offer parents receiving 36 hours of subsidy
under the preschool category six sessions of six hours or four
sessions of nine hours per fortnight.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">For
the Child Care Subsidy preschool category, a preschool-age child is a
child in the year before their first year of primary school. States
and territories refer to the first year of primary school differently
(see the Department of Human Services website
at&nbsp;</FONT></FONT><A HREF="https://www.humanservices.gov.au/individuals/enablers/what-are-primary-school-levels-child-care-fee-assistance/40326"><FONT COLOR="#2f446c">www.humanservices.gov.au/individuals/enablers/what-are-primary-school-levels-child-care-fee-assistance/40326</FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">).</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">To
establish when children are preschool age for Child Care Subsidy
purposes, parents indicate their child’s expected school (that is,
primary school) start date in their Child Care Subsidy claim or when
they later update their details with Centrelink. For example, if a
parent indicates their child will start school in February 2020, the
child is a preschool-age child for 2020.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Families
who receive Child Care Subsidy are required to report changes of
circumstance that affect their entitlement to Centrelink as soon as
practicable.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">This
means that, at any stage throughout the year, if a parent who is
accessing the preschool exemption decides that their child is not
ready to start school the following year, they must update their
child’s expected school start date with Centrelink.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">This
will cease the family’s entitlement to the preschool category of 36
hours of subsidised care from that point, if their child will no
longer be in the year before the first year of primary school.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
family may be entitled to the preschool category again once their
child is in the year before their first year of primary school.</FONT></FONT></FONT></FONT></P>
<H3 CLASS="western">Caps</H3>
<H4 CLASS="western">Hourly rate caps</H4>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Hourly
rate caps are the upper limit on the amount the Australian Government
will subsidise care provided at an approved child care service. The
hourly rate caps vary across service types to reflect differences in
operating costs and average fees charged.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Combined
with the family’s Child Care Subsidy percentage, the rate caps will
be used to calculate the amount of subsidy per hour each family is
entitled to receive:</FONT></FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Where a provider
	charges less than the hourly cap, families will receive their
	applicable percentage of the actual fee charged.</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Where a provider
	charges more than the hourly cap, families will receive their
	applicable percentage of the hourly rate cap.</FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
family’s out-of-pocket expenses will be the difference between the
subsidy to which they are entitled (based on their income and
activity levels) and the total fees charged by the provider. The caps
will be indexed annually in line with the Consumer Price Index and
published on the Department of Education website.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
Australian Government does not set child care fees—providers set
their fees and parents pay the gap between the subsidy and the actual
fee. Providers are obligated to take all reasonable steps to ensure
that parents pay the gap fee.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
hourly rate caps serve as a guide to providers and families on the
maximum hourly amount that the Australian Government is prepared to
subsidise. The hourly rate caps are shown in Table A3.</FONT></FONT></FONT></FONT></P>
<TABLE WIDTH=4369 CELLPADDING=10 CELLSPACING=0>
	<COL WIDTH=1107>
	<COL WIDTH=1698>
	<COL WIDTH=1504>
	<THEAD>
		<TR>
			<TD COLSPAN=3 WIDTH=4349 BGCOLOR="#58285f" STYLE="border: none; padding: 0in">
				<P STYLE="margin-top: 0.13in; border-top: none; border-bottom: 1px dotted #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.08in; padding-left: 0in; padding-right: 0in">
				<FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=3 STYLE="font-size: 11pt">Table
				A3: Hourly rate caps payable for children below school age and of
				school age, according to the type of child care service provided,
				for 2019–20</FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1107 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in; background: #58285f"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Service
				type</B></FONT></FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1698 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in; background: #58285f"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Hourly
				rate cap (children below school age)</B></FONT></FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1504 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in; background: #58285f"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Hourly
				rate cap (school-age children)</B></FONT></FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
	</THEAD>
	<TBODY>
		<TR VALIGN=TOP>
			<TD WIDTH=1107 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Centre
				Based Day Care</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1698 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">$11.98</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1504 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">$10.48</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1107 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Outside
				School Hours Care</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1698 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">$11.98</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1504 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">$10.48</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1107 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Family
				Day Care</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1698 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">$11.10</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1504 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">$11.10</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1107 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">In
				Home Care</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1698 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">$32.58
				(per family)</FONT></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1504 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">$32.58
				(per family)</FONT></FONT></FONT></FONT></P>
			</TD>
		</TR>
	</TBODY>
</TABLE>
<H4 CLASS="western">Annual subsidy cap</H4>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Families
with an adjusted taxable income of $188,163 or less have no annual
cap on the subsidy they can receive. For families with income of more
than $188,163 to less than $352,453, the annual subsidy cap is
$10,373 per child, per year (indexed by the Consumer Price Index
annually). Families with income of $352,453 or more cannot receive
Child Care Subsidy.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Families
can monitor their progress towards the annual subsidy cap through
their Centrelink online account.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
Department of Human Services will notify the provider through their
child care software or the PEP if a family whose child is enrolled at
a service has reached their annual subsidy cap. There will be no fee
reduction amounts paid to the provider or parent for that child from
that time forward (for the remainder of the financial year), and the
parent will have to pay the full fees charged.</FONT></FONT></FONT></FONT></P>
<H3 CLASS="western">Withholding of payments</H3>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in"><A NAME="_withholding"></A>
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
amount that a provider will be paid, and that the individual will
receive in the form of fee reductions, will be 5 per cent less than
the individual’s Child Care Subsidy entitlement.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Withholding
some of a family’s entitlement to Child Care Subsidy is a way to
reduce the likelihood of families incurring a debt at the end of a
financial year. The process of withholding does not reduce a family’s
overall entitlement to Child Care Subsidy.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Some
parents may have their withholding percentage varied from the default
amount of 5 per cent. Providers will be able to see the amount
withheld on the payment advice they receive each fortnight.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">At
the end of the financial year, after the individual and partner (if
any) have lodged their tax return, the amounts paid to and withheld
from the individual will be reconciled. A review of the individual’s
entitlement will be conducted based on the individual’s actual
adjusted taxable income.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Where,
because of the review, it becomes clear that there was overpayment
(for instance, because the person underestimated their income), the
overpayment is recoverable as a debt by deducting from the amounts
withheld.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Where,
because of the review, it becomes clear that there was an
underpayment (for instance, because the person overestimated their
income), the individual will be paid the amounts withheld and any
additional amount as a lump sum.</FONT></FONT></FONT></FONT></P>
<H3 CLASS="western">Family circumstances</H3>
<H4 CLASS="western">Exceptional circumstances</H4>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">In
exceptional circumstances, variations may be made to eligibility
requirements, such as residency requirements, or to other conditions
of Child Care Subsidy. These will be determined on a case-by-case
basis. Families who are in, or have children in, circumstances that
may be exceptional should contact Centrelink.</FONT></FONT></FONT></FONT></P>
<H4 CLASS="western">Change of family circumstances</H4>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
provider will receive notification of each individual’s entitlement
information once the individual has confirmed their enrolment notice.
This information is viewable through the provider’s child care
software or the PEP. This information will include details of:</FONT></FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">the individual’s
	Child Care Subsidy percentage</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">the number of
	subsidised hours per fortnight (the family’s activity test result)</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">the individual’s
	apportioned hours (where the child attends more than one service and
	the individual has chosen to apportion a certain number of their
	subsidised hours to each service)</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">the Additional
	Child Care Subsidy percentage (if applicable)</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">whether the
	family has reached the Child Care Subsidy annual subsidy cap</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">the number of
	absences the child has used in the current financial year.</FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">When
a family’s circumstances change and this affects their eligibility
and/or entitlement, they are required to notify Centrelink of the
change as soon as possible. The provider will be able to see any
change to the family’s entitlement through their child care
software or the PEP.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Changes
to a family’s entitlement will take place from the beginning of the
next Child Care Subsidy fortnight after the change occurred. Where a
parent is late in reporting a change in their circumstances resulting
in an overpayment of Child Care Subsidy for previous sessions of
care, a debt may be raised (this may affect their subsequent Child
Care Subsidy payments). Parents will be notified through their
Centrelink online account where Centrelink raises debts due to
changes in their entitlement—for example, changes to an
individual's (and any partner's) activity test result.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Where
a parent is unsure about the details of a debt raised by Centrelink,
they will need to log into their Centrelink online account for
further details or raise their questions with Centrelink.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Providers
should encourage families to keep their income and activity estimates
updated with Centrelink to help them reduce the risk of debt
throughout the year and at reconciliation.</FONT></FONT></FONT></FONT></P>
<H4 CLASS="western">Grandparent carers</H4>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Grandparent
principal carers not on income support may be eligible for Child Care
Subsidy. These grandparents will be entitled to 100 hours of
subsidised child care per fortnight regardless of their activity,
with the rate of subsidy based on their, or any partner’s, income.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Grandparents
who are not principal carers of their grandchildren but have regular
or shared care of the child may be eligible for Child Care Subsidy
based on their income and hours of recognised activity.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">If
those grandparents do not meet the Child Care Subsidy activity test
and earn less than $68,163, they will be able to access 24 hours of
subsidised care per fortnight at 85 per cent of the hourly rate cap.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Grandparent
principal carers who are on income support will be supported through
Additional Child Care Subsidy (grandparent). For further information
see&nbsp;</FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/appendix-b-additional-child-care-subsidy"><FONT COLOR="#2f446c">Appendix
B</FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
</BODY>
