<BODY LANG="en-AU" LINK="#0000ff" DIR="LTR">
<H2 CLASS="western">Sessions of care</H2>
<H3 CLASS="western">What is a session of care?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
session of care is the minimum period that a provider charges an
individual a fee for providing child care (not the period the child
actually attends).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
session of care can be any length of time up to 12 hours, but it
cannot exceed 12 hours. Where care exceeds 12 hours, this must be
submitted as two or more sessions of care.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
session of care cannot generally be reported for care during a time
when the service is not open and available to provide child care
(except where the service is closed due to a public holiday or local
emergency (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/reporting-absences#_bookmark32"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Can
an absence be reported for care when a service is closed?</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>There
is no eligibility for Child Care Subsidy or Additional Child Care
Subsidy for a session of care in the circumstances described below.
Reporting care where there is no eligibility for Child Care Subsidy
or Additional Child Care Subsidy or where no care occurred may be an
offence or breach of a civil penalty provision under Family
Assistance Law.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
circumstances where there is no eligibility for Child Care Subsidy
include where care is provided to a child:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>aboard
	a transportation vehicle (such as a bus), unless the transport is
	merely incidental to a session of care being provided (such as to
	take children on an outing)</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>in
	a domestic living arrangement on residential premises which is the
	child's own home; or when the child's parent or other primary carer
	stays with the child while the care is taking place, except for care
	provided by an In Home Care service</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>by
	an educator who does not hold a required working with children
	card/check (or equivalent) or where the card/check has been issued
	but the Department of Education has not been notified of the card
	details</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>while
	the child is attending school or engaged in a formal schooling
	program (including a home schooling or distance education program)
	during any part of the session of care (for example, sessions of
	before and after school care should not be reported to overlap with
	the child's school hours).</FONT></FONT></FONT></P>
</UL>
<H3 CLASS="western">Can care be provided by an educator to their own
children or siblings?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>There
is no entitlement to Child Care Subsidy or Additional Child Care
Subsidy for a session of care where a Family Day Care or In Home Care
educator, or their partner, cares for:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>their
	or their partner's child, including a foster care child, adopted
	child, kinship child or child for which they otherwise have legal
	responsibility</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>their
	or their partner's brother, sister, half-brother or half-sister,
	step-brother or step-sister.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Additionally,
In Home Care educators are not entitled to Child Care Subsidy or
Additional Child Care Subsidy for a session of care if they or their
partner cares for a grandchild or great-grandchild, nephew, niece or
cousin.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
rules do not apply to Centre Based Day Care or Outside School Hours
Care educators.</FONT></FONT></FONT></P>
<H3 CLASS="western"><A NAME="_bookmark27"></A>Can care be provided by
a Family Day Care service to a Family Day Care educator's child?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>There
is no entitlement to Child Care Subsidy or Additional Child Care
Subsidy where a Family Day Care educator's, or their partner's, child
is provided with care by a Family Day Care service on the same day
that the Family Day Care educator (the parent of the child) also
provides care for a Family Day Care service. However, there are
limited exceptions to this rule where:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	child has been diagnosed as having a medical condition listed in
	Schedule 1 or 2 of the Minister's Rules, documentary evidence of the
	diagnosis is provided to the provider, and the diagnosis was
	obtained within 24 months of providing the documentary evidence
	(unless the diagnosis is permanent)</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	service is receiving Inclusion Support Program assistance
	(see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/appendix-f-support-funding-and-programs"><FONT COLOR="#165788"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Appendix
	F</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>)
	as part of providing care to the child and the child is undergoing
	assessment for disability, and documentary evidence has been
	provided to the provider</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	child lives in an area defined as being remote or very remote and
	documentary evidence has been provided to the provider</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	parent has provided documentary evidence to the provider that, at
	the usual time care is provided to the child, they were either</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>working
	(other than for an approved Family Day Care service) for at least
	two hours a day in paid work</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>enrolled
	in a course of study leading to a Certificate III level or above
	qualification and engaged in scheduled activities as part of that
	course while the child is in care.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>In
simple terms, a Family Day Care educator has no entitlement to Child
Care Subsidy or Additional Child Care Subsidy for the care provided
to their child by another Family Day Care educator on a day that they
are providing care unless one of the above very limited exemptions
applies.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Where
an exemption does apply, records must be maintained so that the
entitlement can be properly determined (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/record-keeping#_bookmark41"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>When
is a register of care required?</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
<H3 CLASS="western"><A NAME="_bookmark28"></A>Can care be provided by
relatives of the children?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Family
Assistance Law limits the number of children to whom a Family Day
Care educator can provide care at the service if they are related to
the Family Day Care educator.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>More
specifically, the rule states that it is a condition for continued
approval of a Family Day Care service that the provider ensures that
less than 50 per cent of the children to whom any Family Day Care
educator is providing care within any Child Care Subsidy fortnight at
the service are related to the Family Day Care educator as a:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>niece
	or nephew</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>cousin</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>grandchild
	(including a great-grandchild).</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>It
is important to note that:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>relatives
	of the children in care not listed above will not be treated as
	relatives</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>relatives
	of a Family Day Care educator's partner (by either de facto or
	marriage) will be considered relatives of the Family Day Care
	educator</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	ratio of 'less than 50 per cent' is applied to the number of
	children cared for at the service across the whole Child Care
	Subsidy fortnight and not to one session of care.</FONT></FONT></FONT></P>
</UL>
<P STYLE="background: #f8f4f0; line-height: 0.25in"><FONT COLOR="#58285f"><FONT FACE="Open Sans, serif"><FONT SIZE=5 STYLE="font-size: 17pt">Scenario:&nbsp;Care
provided to relatives</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #f8f4f0; line-height: 0.25in">
<FONT COLOR="#222222"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Marta
lives in a regional city and runs her newly established Family Day
Care business four days per week from 6.30 am to 7.30 pm.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #f8f4f0; line-height: 0.25in">
<FONT COLOR="#222222"><FONT FACE="Open Sans, serif"><FONT SIZE=3>She
has two children under school age who attend regularly four days per
week and are not related to her. Her sister sends her four-year-old
son (Marta's nephew) two days per week. Marta's sister would also
like to enrol her new baby (Marta's niece) into care with Marta when
she returns to work in a few months' time.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #f8f4f0; line-height: 0.25in">
<FONT COLOR="#222222"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Under
the rules for Family Day Care educators caring for children that are
related to them, Marta would not be allowed to accept her niece as a
child regularly in her care for two days per week, as this would
equate to a ratio of 50 per cent of care provided to relatives within
the fortnight.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0in; background: #f8f4f0; line-height: 0.25in">
<FONT COLOR="#222222"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Marta
would need to provide care to at least one more non-related child on
at least one day of the given fortnight to be able to care for both
her niece and nephew.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
are responsible for ensuring they comply with this requirement,
noting that it is a condition for continued approval. Providers are
encouraged to:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>update
	policies and procedures to reflect the requirements</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>communicate
	the requirement to all their Family Day Care educators and maintain
	direct contact with their educators affected by the requirement</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>create
	a log for all their Family Day Care educators to sign to confirm
	they are aware of the requirement</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>require
	Family Day Care educators to confirm on a regular basis (for
	example, every month) that they are not in breach of the requirement</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>incorporate
	a question in the provider's Complying Written Arrangement and
	enrolment notice asking if the child is related to the educator so
	that the necessary information can be captured upfront</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>ensure
	there is a log of any educators who are currently providing care to
	the specified relatives and the structure of that care across a
	given fortnight</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>establishing
	a weekly or fortnightly reporting mechanism for educators to flag
	what, if any, care is being delivered to the specified relatives</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>engage
	with the provider's child care software provider regarding the
	incorporation of a reporting mechanism into the attendance reporting
	system.</FONT></FONT></FONT></P>
</UL>
<H2 CLASS="western">Reporting sessions of care</H2>
<H3 CLASS="western">Why is accurate reporting important?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>It
is vital that a provider submits accurate session reports on time.
This enables the Commonwealth to correctly calculate of the amount of
Child Care Subsidy or Additional Child Care Subsidy (if any) that is
payable for care provided to a child.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Inaccurate
reports can result in incorrect Child Care Subsidy and Additional
Child Care Subsidy and affect the eligible individuals and children
to whom the care relates. Further, under Family Assistance Law, a
person may commit an offence and is liable for a civil penalty if a
session report is not submitted within the required timeframe (see
below) and containing the required information (see Table 7 below),
including information needed to determine whether an individual is
eligible for, or entitled to be paid, Child Care Subsidy or
Additional Child Care Subsidy and, if so, the amount.</FONT></FONT></FONT></P>
<H3 CLASS="western">How is a session report submitted?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Sessions
of care are reported through a provider’s child care software or
the PEP. Child Care Subsidy cannot be paid until a session report is
received.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
session report must be submitted for each child for each week a
session of care has been provided (including absences). It must
contain at least one session of care for a week, recorded as either
an attendance or absence. It must only include sessions of care for
which an individual incurred a genuine fee liability.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Session
reports must be accurate. If the Department of Human Services has
concerns about the accuracy of session reports, it can stop
processing payments until the information has been verified.</FONT></FONT></FONT></P>
<H3 CLASS="western">When are session reports submitted?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Session
reports must be submitted within 14 days after the end of the week
when the sessions were provided, except where:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	provider or service was not yet approved, or was suspended, on the
	day the child’s enrolment started. In this case the session report
	must be provided within seven days after the end of the week in
	which the approval was provided or the suspension was revoked</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	provider has received business continuity payments because it is
	unable to provide session reports (such as because its system access
	is down). In this case, session reports must be submitted within 14
	days after it becomes able to submit reports again.</FONT></FONT></FONT></P>
</UL>
<H3 CLASS="western">What information is in a session report?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Session
reports need to be provided for each child for each week that care is
provided and need to include the details summarised in Table 7.</FONT></FONT></FONT></P>
<TABLE WIDTH=4369 CELLPADDING=10 CELLSPACING=0>
	<COL WIDTH=1337>
	<COL WIDTH=2992>
	<THEAD>
		<TR>
			<TD COLSPAN=2 WIDTH=4349 BGCOLOR="#58285f" STYLE="border: none; padding: 0in">
				<P STYLE="margin-top: 0.13in; border-top: none; border-bottom: 1px dotted #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.08in; padding-left: 0in; padding-right: 0in">
				<FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=3 STYLE="font-size: 11pt">Table
				7: Issues addressed and details of information required in the
				weekly session report</FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1337 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.17in; background: #58285f"><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Issue</B></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=2992 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.17in; background: #58285f"><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Details</B></FONT></FONT></FONT></P>
			</TD>
		</TR>
	</THEAD>
	<TBODY>
		<TR VALIGN=TOP>
			<TD WIDTH=1337 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Type
				of report</B></FONT></FONT></P>
			</TD>
			<TD WIDTH=2992 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Can
				be:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">initial
					report</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">variation
					(change) to a report, or</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">withdrawal
					of a report.</FONT></FONT></P>
				</UL>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1337 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Dates</B></FONT></FONT></P>
			</TD>
			<TD WIDTH=2992 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Start
				and end dates of the week the report covers.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1337 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Session
				details</B></FONT></FONT></P>
			</TD>
			<TD WIDTH=2992 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Include:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">date</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">session
					start and finish times.</FONT></FONT></P>
				</UL>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1337 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Attendance
				times</B></FONT></FONT></P>
			</TD>
			<TD WIDTH=2992 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Child’s
				actual in and out attendance times must be reported for each
				session of care (except where an absence is reported).</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1337 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Absences</B></FONT></FONT></P>
			</TD>
			<TD WIDTH=2992 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Include:</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">notification
					of absences (if applicable)</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">a
					reason for any additional absence (where child has used more
					than 42 absence days in a financial year).</FONT></FONT></P>
				</UL>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1337 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Actual
				fee charged</B></FONT></FONT></P>
			</TD>
			<TD WIDTH=2992 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">The
				actual fee charged must reflect the amount the parent was liable
				to pay for the session of care.</FONT></FONT></P>
				<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Where
				the parent directly benefits from another subsidy or discount
				that reduces their fee liability for the session (that the
				provider knows of), the amount in this field must reflect the
				remaining amount after the other subsidy or discount has been
				applied.</FONT></FONT></P>
				<P STYLE="margin-top: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Likewise,
				if the parent is not liable to pay the whole fee charged for the
				session (because a third party has accepted liability to pay some
				of the fee), this field must only reflect the portion that the
				parent is liable for.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1337 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Other
				subsidies paid to the provider to reduce the individual’s fee
				liability</B></FONT></FONT></P>
			</TD>
			<TD WIDTH=2992 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-bottom: 0.17in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Where
				the actual fee charged for the session was reduced by the amount
				of another subsidy that the parent directly benefited from (for
				example, employer contribution to parent’s child care fees):</FONT></FONT></P>
				<UL>
					<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">must
					indicate—yes/no.</FONT></FONT></P>
					<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">If
					‘yes’:</FONT></FONT></P>
					<UL>
						<LI><P STYLE="margin-bottom: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">name
						of the other subsidy payer</FONT></FONT></P>
						<LI><P STYLE="margin-top: 0.19in"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">other
						subsidy amount—hourly or session amount.</FONT></FONT></P>
					</UL>
				</UL>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1337 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Family
				Day Care and In Home Care</B></FONT></FONT></P>
			</TD>
			<TD WIDTH=2992 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Educator—child
				care personnel ID.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1337 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Preschool</B></FONT></FONT></P>
			</TD>
			<TD WIDTH=2992 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Whether
				the session was part of an early education program.</FONT></FONT></P>
			</TD>
		</TR>
	</TBODY>
</TABLE>
<H3 CLASS="western">How is a session report varied?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>If
the provider realises a session report was incorrect or did not need
to be submitted (for example, because no care was provided to a child
in that week), it can vary or withdraw the report up until 28 days
after the start of the week to which the report relates (or until the
end of the financial year if that occurs sooner).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>If a
provider needs to withdraw or change a session report after the
28-day limit, it will need to provide a reason for the late change or
withdrawal for assessment by the Department of Education.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
following reasons can be entered into the system for a variation or
withdrawal of a session report:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Administrative
	error—use where there was a mistake made in the original session
	report; for example, an incorrect session start time.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Responding
	to carer’s dispute—use where a parent has disputed a session
	report.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>General
	amendment—use where changes are being made before Sunday night of
	the session report week, before the report has been processed and
	Child Care Subsidy has been paid (for example, the child attends
	another session after report is submitted).</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Responding
	to 204C—only use where a 204C (compliance) notice has been issued
	requiring the provider to make a change to a session report.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Where
a parent has not given the provider the correct Customer Reference
Number of the parent who has made the claim for Child Care Subsidy,
administrative error is the appropriate reason for the withdrawal of
the incorrect session reports. This reason may apply to a wide range
of circumstances and does not necessarily mean the provider is at
fault.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>If
the Department of Education considers that a detail contained in a
session report submitted by a provider might not be accurate, the
department may require the provider to withdraw the report, vary it
so that it becomes accurate or substitute it with an accurate report.
The provider must do this within 14 days of the notice.</FONT></FONT></FONT></P>
<H2 CLASS="western">Reporting absences</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Child
Care Subsidy is payable for up to 42 absence days for a child in a
financial year for sessions of care a child is enrolled in and did
not attend, but only for sessions of care where an individual still
incurs a genuine fee liability to pay for the care. A reason does not
need to be provided for a child’s initial 42 days of absence.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Once
42 absence days have occurred in a financial year, Child Care Subsidy
can only be paid for any additional absences where they are taken for
a reason set out in Family Assistance Law. These reasons are:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	child, the individual who cares for the child, the individual’s
	partner or another person with whom the child lives is ill and the
	service has been given a medical certificate by a medical
	practitioner</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	child is attending preschool</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>alternative
	arrangements have been made on a pupil-free day</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	child has not been immunised against an infectious disease, the
	absence occurs during an immunisation grace period and a medical
	practitioner has certified that exposure to the infectious disease
	would pose a health risk to the child</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	absence is because the child is spending time with a person other
	than the individual who is their usual carer as required by a court
	order or a parenting plan, and the service has a copy of the
	relevant court order or parenting plan for the child</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	service is closed as a direct result of a period of local emergency</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	child cannot attend because of a local emergency (for example,
	because they are unable to travel to the service), during the period
	of the emergency or up to 28 days afterwards</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	individual who cares for the child has decided the child should not
	attend the service for up to seven days immediately following the
	end of a period of local emergency.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>In
shared care arrangements (where separated parents both claim Child
Care Subsidy for the child’s care), the 42 absences are allocated
to the child, not to each individual parent.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Child
care fee assistance is payable for sessions of care provided to a
child for an attendance or an allowable absence and not on the number
of places a child care service has available on a day. Therefore,
where a child is absent from a session of care that was pre-booked
and the provider charges the family and claims an absence on their
behalf, the service can offer the absent child’s place to another
child.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Some
services choose to apply discounted fees when children are absent,
particularly when parents provide advance notice or the service is
able to fill the absent child’s place. This flexibility is strongly
encouraged, and providers should consider this possibility when
charging fees for days when children are absent.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>If
the fees are discounted, it is important to report the discounted
fees to the department so that the correct Child Care Subsidy can be
calculated based on the actual fee the parent is charged for that
session.</FONT></FONT></FONT></P>
<H3 CLASS="western"><A NAME="_bookmark32"></A>Can an absence be
reported for care when a service is closed?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>If a
service is closed for any reason other than a public holiday or a
local emergency (as determined by the Department of Education state
or territory office), the provider cannot report children as absent
from care.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>For
example, if a service is closed for renovations on the premises or
administrative reasons and the provider advises families that care is
unavailable on that day, the provider cannot report children as
absent and claim Child Care Subsidy for enrolled sessions of care.</FONT></FONT></FONT></P>
<H3 CLASS="western">Can absences be reported before the child first
attends care?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Child
Care Subsidy will not be paid for absences where a provider charges a
family to reserve a place for a child who has not yet physically
started care.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>In
addition, if a child is booked in to start at a service on a
particular date but does not attend on that day, no Child Care
Subsidy will be paid until the child physically attends a session of
care.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Similarly,
a child care service is taken to have permanently ceased providing
care for a child on the day the child last physically attends a
session of care under an enrolment. This means that absences
submitted after a child last physically attends a session of care are
not eligible for Child Care Subsidy.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>If a
family has confirmed their child’s last day at a service, but that
child does not attend their last booked session of care, no Child
Care Subsidy will be paid for any days after the child’s last
physical attendance at the service.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>If a
provider continues to charge fees for sessions on days after a child
has left the service because the family did not give the agreed
period of notice, Child Care Subsidy will not be payable for these
sessions of care. If absences are reported in the above circumstances
and Child Care Subsidy is incorrectly paid, these amounts must be
remitted to the Department of Human Services and if not will be
recovered from the service.</FONT></FONT></FONT></P>
<H3 CLASS="western">How should long absences be managed?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>If a
long absence from care is anticipated, the plan for this, and how it
will be managed, can be specified in the Complying Written
Arrangement (including, for example, any changes to fees). However,
where a child does not attend a service within a period of eight
weeks or more, the enrolment will be ceased. Even where an absence
longer than eight weeks is planned in the Complying Written
Arrangement, a new enrolment notice will need to be submitted when
care recommences after the absence. If a long absence is planned, the
family may prefer&nbsp; to end the enrolment and submit a new notice
when physical attendance recommences so that the child is not
reported as absent (using up the child’s initial 42 days of
absence).</FONT></FONT></FONT></P>
<H2 CLASS="western">Other matters</H2>
<H3 CLASS="western">How is care outside routine session times
reported?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Where
a service starts to provide care earlier or continues to provide care
later than usual (that is, outside the routine session times the
parent has agreed to), the provider is still required to report
accurate information about the period of care the parent is liable to
pay for, including the actual fee charged, based on the terms of the
arrangement with the parent.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Complying
Written Arrangements between parents and providers should be clear
about the treatment of sessions and fees where a child is dropped off
or collected outside of routine session times.</FONT></FONT></FONT></P>
<H3 CLASS="western">Why do attendance times need to be reported?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
are required to provide children’s actual in-and-out attendance
times in both statements of entitlements to families and session
reports to the Australian Government.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Attendance
times are not used to calculate Child Care Subsidy or Additional
Child Care Subsidy. Child Care Subsidy and Additional Child Care
Subsidy are calculated based on the length of each session of care
individuals are liable to pay for as reported in the session report.
Reporting actual attendance times is intended to help parents
understand the relationship between the fees they are charged, the
amount of subsidy paid to their child care provider on their behalf,
and their out-of-pocket expenses.</FONT></FONT></FONT></P>
<H3 CLASS="western">When are business continuity payments made?</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Business
continuity payments may be made if a situation arises that is beyond
the control of the approved provider and they are prevented from
submitting session reports for reasons beyond their control. These
payments are an emergency measure only and do not replace the
requirement to submit session reports.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Examples
of situations where business continuity payments may apply are:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	disruption to the operation of communication infrastructure the
	service uses that cannot be rectified by the end of the relevant
	period</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>where
	the service is significantly affected by a natural disaster, such as
	flood, storm, fire or earthquake.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Business
continuity payments are intended to allow a service to continue
operating until electronic reports can be provided. Payments made in
this way should still be passed on to parents as fee reductions.
Then, once the provider is able to provide session reports again, any
business continuity payments will be offset against Child Care
Subsidy payments (including those that are calculated for a past
period in respect to which any business continuity payments were
made).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
amount to be paid will be based on the average weekly amount paid to
the service during a similar previous period (for example, a similar
number of children and similar time of year), known as a ‘test
period’. The amount of the weekly payment will be rounded to the
nearest $100.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>If
the service is new and there is no payment history to establish a
test period, the amount will be 50 per cent of 50 hours of care for
the estimated number of children in care for the week at the Child
Care Subsidy hourly rate cap for the service type.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>If a
provider is in a situation where it cannot submit session reports for
reasons outside its control, it should contact the Department of
Education Child Care Subsidy Help Desk (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/appendix-g-contacts-and-further-information"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Appendix
G</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
</BODY>
