<TABLE WIDTH=100% CELLPADDING=7 CELLSPACING=0 STYLE="page-break-before: always">
	<COL WIDTH=52*>
	<COL WIDTH=68*>
	<COL WIDTH=136*>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">Topic</FONT></FONT></P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">Heading 1</FONT></FONT></P>
		</TD>
		<TD WIDTH=53% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">Heading 2</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">Become an
			approved provider</FONT></FONT></P>
		</TD>
		<TD WIDTH=27% VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">What is an
			approved provider?</FONT></FONT></P>
		</TD>
		<TD WIDTH=53% VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">What
			approvals or licences are required?</FONT></FONT></P>
		</TD>
		<TD WIDTH=53% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">National Law
			approval</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=53% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">Family
			Assistance Law approval</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=20% HEIGHT=5 VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P ALIGN=JUSTIFY><FONT COLOR="#000000"><FONT FACE="Calibri, serif">Provider
			approval</FONT></FONT></P>
		</TD>
		<TD WIDTH=53% VALIGN=BOTTOM BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">Can trusts be
			approved?</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=53% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">Why do
			providers need an Australian Business Number?</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=53% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">Are there
			financial requirements for providers?</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">Service
			approval</FONT></FONT></P>
		</TD>
		<TD WIDTH=53% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">What types of
			child care service can be approved?</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=53% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">What is
			Centre Based Day Care?</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=53% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">What is
			Outside School Hours Care?</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=53% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">What is
			Family Day Care?</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=53% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">What is In
			Home Care?</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=53% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">What types of
			services cannot be approved?</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=BOTTOM>
		<TD WIDTH=20% HEIGHT=5 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=27% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=53% BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P><FONT COLOR="#000000"><FONT FACE="Calibri, serif">What is the
			minimum number of weeks each year an approved service must
			operate?</FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<H1 CLASS="western">What is an approved provider?</H1>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
provider approved under the Family Assistance Law provides child care
in one or more of its services and receives and passes on Child Care
Subsidy payments to eligible families to reduce the cost of child
care.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
provider approved under Family Assistance Law is responsible for
satisfying obligations under both Commonwealth and state and
territory laws. This includes obligations to:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>comply
	with Family Assistance Law</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>comply
	with the National Law and National Regulations and all related state
	or territory laws involving the operation of a child care service,
	unless that service is exempt (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/appendix-c-services-exempt-national-law"><FONT COLOR="#165788"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Appendix
	C</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>)</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>ensure
	the child care provider and relevant personnel (that is, persons
	with management or control of the provider and persons responsible
	for the day-to-day operations of the service) are fit and proper
	persons to have a role in the receiving and passing on of Child Care
	Subsidy payments (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/specified-personnel#_bookmark16"><FONT COLOR="#165788"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Who
	needs to be a fit and proper person?</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>)</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>ensure
	that background checks, including criminal history and working with
	children checks, are carried out for relevant staff and educators
	(see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/specified-personnel#_bookmark17"><FONT COLOR="#165788"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>What
	matters should be considered?</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>When
determining whether a person is a fit and proper person to be
involved in the administration of the Child Care Subsidy and the
Additional Child Care Subsidy, matters involving fraud, dishonesty,
financial management, compliance with the law and administration of
funds are all relevant considerations. Matters considered in
determining whether someone is a fit and proper person include:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>evidence
	of activity that does not comply with criminal or civil law,
	including (but not limited to) activity related to children or
	indicating dishonesty or violence</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>court
	proceedings and convictions or findings of guilt, including (but not
	limited to) activity related to children or indicating dishonesty or
	violence</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
	past administrative decisions relating to a person’s suitability
	to be involved in child care</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>evidence
	of fraud or dishonesty</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	person’s history of managing public funds; and any past or current
	debts to the Commonwealth</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	person’s record of financial management, including any instances
	of bankruptcy, insolvency or external administration</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
	potential conflicts of interest between managing or delivering the
	child care service and other business or financial interests of the
	person</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
	other matter relevant to the suitability of the provider and their
	staff.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Specified
personnel must be fit and proper persons, regardless of whether they
are required to use the Child Care Subsidy System.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Where
a provider does not comply with their obligations under Family
Assistance Law, sanctions may be imposed. See&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/appendix-e-compliance"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Appendix
E</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>&nbsp;for
more information on the conditions for continued approval and the
consequences of a breach of those conditions.</FONT></FONT></FONT></P>
<H1 CLASS="western">What approvals or licences are required?</H1>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Australia
has a dual regulatory system for the provision of child care. This is
because the state and territory governments and the Australian
Government have different roles and responsibilities.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
provider can operate and charge fees for child care services if they
are approved under the National Law, even if they are not approved by
the Australian Government under Family Assistance Law.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>However,
a provider must be approved under Family Assistance Law for Child
Care Subsidy and Additional Child Care Subsidy to be claimable by
families for care provided to children at the provider’s service.</FONT></FONT></FONT></P>
<H2 CLASS="western">National Law approval</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
need state or territory approval to operate a child care service.
While there are some exceptions (discussed at&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/appendix-c-services-exempt-national-law"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Appendix
C</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>),
providers cannot care for children unless they are approved under the
National Law by the child care regulatory authority in their state or
territory.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>State
and territory governments are responsible for ensuring providers are
meeting standards for the safety, health and wellbeing of children
and for the educational outcomes of children. State and territory
governments do this through the National Quality Framework under the
National Law and National Regulations.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>To
be approved under the National Law, providers and services must meet
the requirements of the National Quality Framework. The National
Quality Framework provides a national approach to regulation,
assessment and quality improvement for child care services across
Australia.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Key
aspects of the National Quality Framework include:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>specified
	educator-to-child ratios so that each child receives the individual
	time and attention they need</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>an
	approved learning framework to support each child’s learning and
	development</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>educator
	qualification requirements so that educators are better able to lead
	activities that inspire children and help them learn and develop</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>an
	assessment and ratings system so that parents know the quality of
	early learning and child care being provided and can make informed
	choices.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Further
information on the National Law and the National Quality Framework
and contacts for each of the state and territory regulatory
authorities can be found at the Australian Children’s Education &amp;
Care Quality Authority website at&nbsp;</FONT></FONT></FONT><A HREF="https://www.acecqa.gov.au/"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>www.acecqa.gov.au</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>.</FONT></FONT></FONT></P>
<H2 CLASS="western">Family Assistance Law approval</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
Australian Government is responsible for the administration and
payment of Child Care Subsidy and Additional Child Care Subsidy for
families. It does this under Family Assistance Law, which sets out
the entitlement families have to subsidies and the rules that apply
to child care providers who provide subsidised care to children.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>To
become an approved provider under Family Assistance Law, a provider
must hold the required approvals or licences to provide child care in
the state or territory in which each of its child care services
operate.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>There
are a small number of services that do not fall under National Law
and are excluded from the requirement to hold National Law approval.
An example of these services is In Home Care (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/appendix-c-services-exempt-national-law"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Appendix
C</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
can apply for approval under Family Assistance Law while they are
undergoing assessment for National Law approval. The application for
approval by the Australian Government will request provider and
service approval numbers that providers will receive when they apply
for National Law approval.</FONT></FONT></FONT></P>
<H1 CLASS="western">Provider approval</H1>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Under
Family Assistance Law any of the following entities may apply for
provider approval for one or more services that the provider operates
or proposes to operate:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3><B>Sole
	trader</B></FONT></FONT></FONT><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—an
	individual person who has legal capacity and/or authority to enter
	obligations.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3><B>Partnership</B></FONT></FONT></FONT><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—a
	collection of entities (for example, made up of individuals,
	companies or other corporate bodies) where the control or management
	of the business is shared.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3><B>Private
	company</B></FONT></FONT></FONT><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—a
	company registered with the Australian Securities and Investments
	Commission as Proprietary Limited (cannot raise funds from the
	public).</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3><B>Public
	company</B></FONT></FONT></FONT><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—a
	company registered with the Australian Securities and Investments
	Commission that is usually formed to raise or borrow public money by
	listing the company’s shares for trading on the Stock Exchange.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3><B>Registered
	cooperative</B></FONT></FONT></FONT><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—a
	democratic organisation owned and controlled by its members for a
	common benefit. The name of a registered cooperative always includes
	the word ‘Cooperative’ or ‘Coop’ and ends with ‘Limited’
	or ‘Ltd’.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3><B>Australian
	Government body</B></FONT></FONT></FONT><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—Australian
	Government bodies are not required to register their name or any
	name they trade under as a business name but may still wish to do so
	under some circumstances.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3><B>State/territory
	government body</B></FONT></FONT></FONT><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—government
	bodies are not required to register their name or any name they
	trade under as a business name but may still wish to do so under
	some circumstances.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3><B>Local
	council</B></FONT></FONT></FONT><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—as
	government bodies, local councils are not required to register a
	name or any name they trade under as a business name but may still
	wish to do so under some circumstances.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3><B>Indigenous
	corporation</B></FONT></FONT></FONT><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—a
	corporation that is voluntarily registered under the&nbsp;</FONT></FONT></FONT><A HREF="https://www.legislation.gov.au/Details/C2019C00180"><FONT COLOR="#165788"><FONT FACE="Open Sans, serif"><FONT SIZE=3><I><U>Corporations
	(Aboriginal and Torres Strait Islander) Act 2006</U></I></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3><B>Incorporated
	body or association</B></FONT></FONT></FONT><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—an
	entity which is separate from the individual member, is given legal
	status by state or territory legislation and will have a
	constitution or rules setting out how it operates.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3><B>Unincorporated
	body or association</B></FONT></FONT></FONT><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>—an
	unincorporated body is not a separate legal entity from its members;
	it is simply the group of people who have agreed to come together to
	pursue a common purpose with club-like characteristics—for
	example, a sporting club, social club or trade union.</FONT></FONT></FONT></P>
</UL>
<H2 CLASS="western">Can trusts be approved?</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Approval
may be granted to a trustee in its capacity as trustee of the trust.
As part of the application for approval, the provider (trustee) must
provide a copy of the trust deed.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Approval
is not granted to the trust itself, as a trust is not a legal entity.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Where
a provider is uncertain of its entity type or its trustee status, it
is important that it seek independent business advice before seeking
approval.</FONT></FONT></FONT></P>
<H2 CLASS="western">Why do providers need an Australian Business
Number?</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Approved
providers will be responsible for receiving and passing on
significant amounts of public funds in the form of child care fee
assistance payments, so it is necessary to unambiguously identify the
legal entity as an organisation.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>All
providers must have a valid Australian Business Number, including
trustees acting in their capacity as a trustee (noting that a trustee
may also have a separate Australian Business Number when acting on
its own behalf and not as a trustee). Information about how to apply
for an Australian Business Number is on the Australian Business
Register website at&nbsp;</FONT></FONT></FONT><A HREF="https://abr.gov.au/"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>www.abr.gov.au</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>.</FONT></FONT></FONT></P>
<H2 CLASS="western">Are there financial requirements for providers?</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
Large Centre Based Day Care provider must be financially viable, and
likely to remain so, to be approved. A provider is a Large Centre
Based Day Care provider if it (or a group of related providers)
operates 25 or more approved Centre Based Day Care services.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
Secretary of the Department of Education may ask for additional
information or supporting documentation to assess whether Large
Centre Based Day Care providers meet this requirement. However,
providers are responsible for ensuring their application is complete
and contains enough information to enable this assessment to be made.</FONT></FONT></FONT></P>
<H1 CLASS="western">Service approval</H1>
<H2 CLASS="western">What types of child care service can be approved?</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>There
are four types of child care services which can be approved by the
Department of Education to receive and pass on Child Care Subsidy and
Additional Child Care Subsidy payments to families:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Centre
	Based Day Care</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Outside
	School Hours Care</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Family
	Day Care</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>In
	Home Care.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Please
note that the definitions of ‘care’ may differ from those
provided under National Law, and the National Law has its own
specific requirements relating to different types of care.</FONT></FONT></FONT></P>
<H2 CLASS="western">What is Centre Based Day Care?</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
Centre Based Day Care service is provided in centres that are
approved by the relevant state or territory authority.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
Centre Based Day Care service may offer sessions of care to children
who attend school, however, this must not be the care that is
predominately provided by the service—the majority of care should
be provided to children who do not attend school.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
Centre Based Day Care service must operate for a minimum period of at
least 48 weeks per year, unless the Department of Education
determines that a specific shorter period is appropriate (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/service-approval#_bookmark9"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>What
is the minimum number of weeks each year an approved service must
operate</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>?).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Beyond
operating for the minimum period, the provider can decide on the
hours of care provided per day and the number of days per week that
care is provided. Providers can consider flexible options that suit
their children and families as well as their business.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
child attends school where the child:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>attends
	the year of school before Grade 1 of primary school (for example,
	kindergarten), or</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>attends
	primary or secondary school, or</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>is
	on a break from school and will be returning to primary or secondary
	school after that break (for example, school holidays), or</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>is
	subject to home schooling as recognised in the state or territory in
	which the child lives, or</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>has
	reached six years of age.</FONT></FONT></FONT></P>
</UL>
<H2 CLASS="western">What is Outside School Hours Care?</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Outside
School Hours Care services provide care before and after school hours
and during school holidays for children who normally attend school.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Children
who do not attend school may attend Outside School Hours Care (for
example, a service may provide care for preschool-age siblings of
school-age children), and the mix of children attending the service
can vary from day-to-day or week-to-week. However, an Outside School
Hours Care service must predominantly provide care to school-age
children.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Outside
School Hours Care services must operate for at least seven weeks per
year, unless the Department of Education determines that a specific
shorter period is appropriate (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/service-approval#_bookmark9"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>What
is the minimum number of weeks each year an approved service must
operate?</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Beyond
operating for the minimum period, the provider can decide the hours
of care provided per day and the number of days per week. Providers
can consider flexible options that suit families as well as their
business.</FONT></FONT></FONT></P>
<H2 CLASS="western">What is Family Day Care?</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Family
Day Care is care that is usually provided in the home of an educator
for one or more children.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Family
Day Care must be provided by an approved provider as part of an
approved service. Family Day Care services must operate for at least
48 weeks per year, unless the Department of Education determines that
a specific shorter period is appropriate (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/service-approval#_bookmark9"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>What
is the minimum number of weeks each year an approved service must
operate?</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>There
is no entitlement to Child Care Subsidy or Additional Child Care
Subsidy where a Family Day Care educator, or their partner, cares
for:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>their
	or their partner’s child, including a foster care child, adopted
	child, kinship child or child for which they otherwise have legal
	responsibility, or</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>their
	or their partner’s brother, sister, half-brother or half-sister,
	step-brother or step-sister.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Further,
where an individual or their partner is a Family Day Care educator,
they will not be eligible for Child Care Subsidy or Additional Child
Care Subsidy for a session of care provided to their child on the
same day that the individual or their partner is providing care as a
Family Day Care educator. However, an exemption to this prohibition
applies where certain limited specified circumstances exist (see&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/sessions-care#_bookmark27"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Can
care be provided by a Family Day Care service to a Family Day Care
educator’s child?</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
<H2 CLASS="western">What is In Home Care?</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>In
Home Care is care is provided in the home of a child by an educator
where the family meets the suitability criteria for In Home Care.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>In
Home Care is a flexible child care option available to families that
are not able to access Centre Based Day Care, Family Day Care or
Outside School Hours Care and where one or more of the following
circumstances apply:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>parents
	or carers are working outside normal child care service hours</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>parents
	or carers are too far away from other types of approved child
	care—for example, in rural and remote locations</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	family has challenging or complex needs and other approved child
	care services are not able to meet the needs of the child or the
	family.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Families
accessing In Home Care due to challenging or complex needs may have
one or more of the following circumstances:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	child with additional needs or disability whose early childhood
	education and care requirements cannot be catered for in another
	approved child care setting or through other government-funded or
	community-based services</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	family where a parent is undergoing treatment for a serious illness</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>other
	family situations that prevent families from accessing other
	approved child care types.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>In
Home Care is not regulated under the National Law. However, approved
In Home Care services must meet quality standards as outlined in the
Minister's Rules (see also&nbsp;</FONT></FONT></FONT><A HREF="https://www.education.gov.au/child-care-provider-handbook/appendix-c-services-exempt-national-law"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>Appendix
C</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>There
is no entitlement to Child Care Subsidy or Additional Child Care
Subsidy where an In Home Care educator, or their partner, cares for:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>their
	or their partner’s biological child, regular care child, foster
	care child, adopted child, kinship child or child for which they
	otherwise have legal responsibility</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>their
	or their partner’s brother, sister, half-brother or half-sister,
	step-brother or step-sister, grandchild or great- grandchild,
	nephew, niece or cousin.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>However,
an exemption to this prohibition applies where certain limited
specified circumstances exist.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>More
information on In Home Care can be found in the&nbsp;</FONT></FONT></FONT><A HREF="https://docs.education.gov.au/node/47766"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><I><U>In
Home Care National Guidelines</U></I></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>&nbsp;and&nbsp;</FONT></FONT></FONT><A HREF="https://docs.education.gov.au/documents/home-care-handbook"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><I><U>In
Home Care Handbook</U></I></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>.</FONT></FONT></FONT></P>
<H2 CLASS="western">What types of services cannot be approved?</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
service that only offers care informally or as part of providing
non-care-related services cannot be approved under Family Assistance
Law.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Services
cannot be approved under Family Assistance Law if they are any of the
following:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>informal
	care provided through personal arrangements (for example,
	baby-sitting or grandparents providing ad hoc care to their
	grandchildren)</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	service primarily providing instruction in an activity (such as
	sport or music)</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	service primarily providing a disability or early intervention
	service</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	service that provides care, but the parent retains responsibility
	for the child while the service is provided (such as a play group)</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	service primarily providing short-term irregular care at premises
	where the parent is a visitor or guest and the parent is readily
	available (such as a service provided by a gym)</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
	service that primarily provides an early educational program to
	children in the year that is two years before Grade 1 of school
	(such as a preschool or kindergarten).</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Mixed
or integrated services can still be approved if they include such
activities but not if this is the service they primarily provide.</FONT></FONT></FONT></P>
<H2 CLASS="western"><A NAME="_GoBack"></A><A NAME="_bookmark9"></A>What
is the minimum number of weeks each year an approved service must
operate?</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
minimum period that a service must operate each year is:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>48
	weeks per year for a Centre Based Day Care service (this includes
	long day care and occasional child care services), family day care
	and in home care</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>seven
	weeks per year for an Outside School Hours Care service.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>However,
the Secretary of the Department of Education may specify a shorter
minimum period for a service if satisfied that due to special
circumstances affecting the service it is appropriate for the service
to operate for a shorter minimum period.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
that consider their services have special circumstances affecting
their operating period should contact the Department of Education.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>More
information is available is available on the Department of Education
website
at&nbsp;</FONT></FONT></FONT><A HREF="https://docs.education.gov.au/documents/child-care-subsidy-minimum-operating-periods-special-circumstance-requirements-fact-sheet"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><U>docs.education.gov.au/documents/child-care-subsidy-minimum-operating-periods-special-circumstance-requirements-fact-sheet</U></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
