<p></p><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>We have developed additional Balancing FAQs in response to feedback and questions asked during the recent webinar. We will continue to update and add information as necessary.</FONT></FONT></FONT></P>
    
<H4 CLASS="western">Do I need to issue a new Additional Child Care Subsidy (child wellbeing) certificate for each 12 month period?</H4>
<p>Yes.</p>
<h5 style="font-size: 1rem">What you need to do </h5>  
<UL>
    <LI>You will need to issue a new six week certificate prior to applying for a further determination if a child at your service has been receiving Additional Child Care Subsidy (ACCS) for continuous periods over the last 12 months. </LI><br>
    <li>In this circumstance the Child Care Subsidy System will not allow you to apply for a further determination. Following the issue of this new certificate, if the child remains ‘at risk’, you will then need to apply for a further 13 week period determination.</li><br>
    <li>The exception to this is where your service is over its ACCS (child wellbeing) percentage cap. Where this occurs, a new certificate cannot to be issued and you will need to apply for a further determination.  </li>
</UL>
<p>For example: </p>
<UL>
    <LI>On 2 July 2018, a certificate was issued for Billy for 6 weeks by the child care service he attends, because he was assessed as being at risk. Billy has remained on 13 week determinations continuously since then. On 13 May 2019 Centrelink made a determination for another 13 weeks for Billy which ceases on 11 July 2019. If Billy is still considered to be at risk, the service will need to give a certificate for another 6 weeks, from 12 July 2019, before another determination can be given.</li>
</UL>
        
<p>However, if the service has gone over its ACCS (child wellbeing) percentage limit, the service must apply for a further determination.</p>


<H4 CLASS="western">Do I need to issue 6 weeks of ACCS (child wellbeing) certificate in the current 12 month period?</H4>
<p>Yes.</p>
<h5 style="font-size: 1rem">What you need to do </h5>  
<UL>
    <LI>If the start date of the next determination is before the end of the 12 month period, the system will check to see if 6 weeks of certificate has been used in the previous 12 months.</LI><br>
    <li>If the full 6 weeks of certificate have not been used, you will need to issue a certificate for the balance of the 6 weeks before you can apply for a new determination.</li><br>
    <li>The exemption to this is where your service is over its ACCS (child wellbeing) percentage cap. Where this occurs, a certificate cannot be issued and you will need to apply for a further determination.</li>
</UL>
<p>For example: </p>
<UL>
    <LI>The child care service Janie attends was not able to issue a certificate for her, after she was assessed as at risk, when she started at the service on 6 July 2018, because the service had exceeded the ACCS (child wellbeing) percentage cap. The service had to apply for a determination from Centrelink who makes a determination for 13 weeks, commencing 9 July 2018. Janie continues to be assessed as at risk and the service makes applications to Centrelink for determinations every 13 weeks.</li>
    <li>The start date of the next determination, before the end of the 12 month period, would commence on 8 March 2019. The system has checked to see if the 6 weeks of certificate has been used in the previous 12 months. In this case, the 6 weeks of certificate was not used, due to the service exceeding its ACCS (child wellbeing) percentage cap. Therefore the service must issue a certificate for the balance of the 6 weeks before they can apply for a new determination.</li>
</UL>
        
<p>However, if the service continues to be over its ACCS (child wellbeing) percentage limit, it must apply for a further determination.</p>