<BODY LANG="en-AU" LINK="#0000ff" DIR="LTR">
<H1 CLASS="western">Provider and service eligibility</H1>
<H2 CLASS="western">Approval</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
Department of Education may only approve a provider for the purposes
of Family Assistance Law if satisfied that:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	provider satisfies the provider eligibility rules, and</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	provider operates, or will operate at least, one child care service
	that satisfies the service eligibility rules.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
department will assess whether the provider and service satisfy these
eligibility requirements based on the information provided. The
information requested by the department (see Tables 1 and 2) is
intended to allow an assessment of the provider against all these
requirements.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>To
be approved, all provider eligibility rule and service eligibility
rule requirements must be satisfied. Whether or not the provider
operates the service is also a relevant consideration, as the
provider will not be approved for a service if it does not actually
operate it.</FONT></FONT></FONT></P>
<H2 CLASS="western">Provider eligibility rules</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
provider eligibility rules are:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>for
	each child care service for which the provider is seeking approval,
	the provider holds any approvals or licences required to operate a
	child care service under the law of the state or territory in which
	the service is situated</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	provider is a fit and proper person to be involved in the
	administration of Child Care Subsidy and Additional Child Care
	Subsidy</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
	person with management or control of the provider is a fit and
	proper person</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
	person who will be a person with management or control of the
	provider on the day the provider’s approval takes effect, or the
	day the provider’s approval for a child care service takes effect,
	is a fit and proper person</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>for
	a large Centre Based Day Care provider—the provider is financially
	viable and is likely to remain so</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	provider must ensure that each of the following checks is carried
	out for each person who has management or control of the provider
	and be able to provide a written record of each check upon any
	request</FONT></FONT></FONT></P>
	<UL>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
		national police check from the state or territory police service,
		or an agency accredited by the Australian Criminal Intelligence
		Commission, no more than six months before the date of the
		application</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
		check on the issue of a working with children card</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
		National Personal Insolvency Index check performed using the
		Bankruptcy Register Search service provided by the Australian
		Financial Security Authority</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>a
		Current and Historical personal name extract search of the records
		of the Australian Securities and Investments Commission</FONT></FONT></FONT></P>
	</UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	provider must ensure that each of the following checks is carried
	out for each person with responsibility for the day-to-day operation
	of the service, and be able to provide a written record of each
	check, upon any request, of a</FONT></FONT></FONT></P>
	<UL>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>current
		police check</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>working
		with children card check</FONT></FONT></FONT></P>
	</UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	provider must ensure that each of the following checks is carried
	out for each Family Day Care educator for a Family Day Care service
	or an In Home Care educator for an In Home Care service, and be able
	to provide a written record of each check, upon request, of a</FONT></FONT></FONT></P>
	<UL>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>current
		police check</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>working
		with children card check.</FONT></FONT></FONT></P>
	</UL>
</UL>
<H2 CLASS="western"><A NAME="_GoBack"></A>Service eligibility rules</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
service eligibility rules are:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	service is of a type that can be approved</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	provider of the service holds any approvals or licences required to
	operate the service under the law of the state or territory in which
	the service is situated</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>each
	person who is responsible for the day-to-day operation of the
	service (whether or not the person is employed by the provider of
	the service) is a fit and proper person</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>each
	person who will be responsible for the day-to-day operation of the
	service (whether or not the person is employed by the provider of
	the service) on the day the provider is approved to operate the
	service is a fit and proper person</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>in
	the case where the service is covered by allocation rules (that is,
	an In Home Care service)—if the provider of the service were to be
	approved, child care places would be allocated to the service</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
	Secretary of the Department of Education is satisfied that it is
	appropriate for the provider to be approved to operate the service
	having regard to the following</FONT></FONT></FONT></P>
	<UL>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>if
		the provider is already an approved provider—any conditions
		imposed on the provider’s approval</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
		non-compliance by the provider with a law of the Commonwealth or a
		state or territory</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
		provider’s record of receiving and passing on payments under
		Family Assistance Law</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
		provider’s record of administering Commonwealth, state or
		territory funds</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
		capacity for staff working at the service to use the electronic
		system for managing child care payments under Family Assistance Law</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
		following matters for each Family Day Care educator or In Home Care
		educator</FONT></FONT></FONT></P>
		<UL>
			<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
			<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
			act of the educator involving fraud or dishonesty</FONT></FONT></FONT></P>
			<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
			<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>the
			arrangements the provider puts in place to ensure the educator
			complies with Family Assistance Law</FONT></FONT></FONT></P>
		</UL>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>any
		other matter the Secretary of the Department of Education considers
		relevant</FONT></FONT></FONT></P>
	</UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>additional
	criteria for service eligibility rules set out in the Minister’s
	Rules.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
</BODY>
