<BODY LANG="en-AU" LINK="#0000ff" DIR="LTR">
<H1 CLASS="western">Additional Child Care Subsidy</H1>
<H2 CLASS="western"><A NAME="_GoBack"></A>Additional Child Care
Subsidy</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Additional
Child Care Subsidy provides additional fee assistance to support
vulnerable or disadvantaged families and children. This support
recognises the preventative and protective influence of quality child
care on a child’s health, wellbeing and development; and the
importance of continuity of care.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>There
are four different payments under Additional Child Care Subsidy:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Additional
	Child Care Subsidy (child wellbeing)—to help children who are at
	risk of serious abuse or neglect.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Additional
	Child Care Subsidy (grandparent)—to help grandparents on income
	support who are the principal caregiver of their grandchildren.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Additional
	Child Care Subsidy (temporary financial hardship)—to help families
	experiencing financial hardship.</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Additional
	Child Care Subsidy (transition to work)—to help low-income
	families transitioning from income support to work.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Each
of these is described in more detail in the following sections.</FONT></FONT></FONT></P>
<H3 CLASS="western">The provider’s role in Additional Child Care
Subsidy</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
are centrally involved in identifying children who require extra
support through Additional Child Care Subsidy (child wellbeing).</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
are not involved in making applications for the other types of
Additional Child Care Subsidy, although they may encourage families
who may be eligible to contact Centrelink to apply for additional
assistance.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Providers
will be advised of individuals using their service who are receiving
these other payments. An overview of these types of Additional Child
Care Subsidy is provided for providers’ information and to allow
them to support families who may be eligible.</FONT></FONT></FONT></P>
<H3 CLASS="western">Additional Child Care Subsidy levels and rates</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>A
provider must not charge an individual who is eligible for Additional
Child Care Subsidy a higher fee than they would ordinarily charge for
an individual who is eligible for Child Care Subsidy.</FONT></FONT></FONT></P>
<TABLE WIDTH=4369 CELLPADDING=10 CELLSPACING=0>
	<COL WIDTH=1030>
	<COL WIDTH=1738>
	<COL WIDTH=1542>
	<THEAD>
		<TR>
			<TD COLSPAN=3 WIDTH=4349 BGCOLOR="#58285f" STYLE="border: none; padding: 0in">
				<P STYLE="margin-top: 0.13in; border-top: none; border-bottom: 1px dotted #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.08in; padding-left: 0in; padding-right: 0in">
				<FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=3 STYLE="font-size: 11pt">Table
				B1: Availability of different types of Additional Child Care
				Subsidy, with subsidy levels and relationship to income and
				activity</FONT></FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1030 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.17in; background: #58285f"><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Extra
				support</B></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1738 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.17in; background: #58285f"><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Additional
				subsidy</B></FONT></FONT></FONT></P>
			</TD>
			<TD WIDTH=1542 BGCOLOR="#58285f" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P STYLE="margin-top: 0.17in; background: #58285f"><FONT COLOR="#ffffff"><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Relationship
				to income or activity</B></FONT></FONT></FONT></P>
			</TD>
		</TR>
	</THEAD>
	<TBODY>
		<TR VALIGN=TOP>
			<TD WIDTH=1030 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Additional
				Child Care Subsidy (child wellbeing)</FONT></FONT></P>
			</TD>
			<TD WIDTH=1738 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">A
				subsidy equal to 100 per cent of the actual fee charged, up to
				120 per cent of the Child Care Subsidy hourly rate cap, for up to
				100 hours of assistance per fortnight.</FONT></FONT></P>
			</TD>
			<TD WIDTH=1542 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Regardless
				of the family’s income or their level of activity.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1030 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Additional
				Child Care Subsidy (grandparent)</FONT></FONT></P>
			</TD>
			<TD WIDTH=1738 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">A
				subsidy equal to 100 per cent of the actual fee charged, up to
				120 per cent of the Child Care Subsidy hourly rate cap, for up to
				100 hours of assistance per fortnight.</FONT></FONT></P>
			</TD>
			<TD WIDTH=1542 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Regardless
				of the family’s income or their level of activity. However, an
				individual or their partner must be in receipt of a specified
				income support payment.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1030 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Additional
				Child Care Subsidy (temporary financial hardship)</FONT></FONT></P>
			</TD>
			<TD WIDTH=1738 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">A
				subsidy equal to 100 per cent of the actual fee charged, up to
				120 per cent of the Child Care Subsidy hourly rate cap, for up to
				100 hours of assistance per fortnight. Limited to a maximum 13
				weeks per event.</FONT></FONT></P>
			</TD>
			<TD WIDTH=1542 BGCOLOR="#eae4ee" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Regardless
				of the family’s income or their level of activity.</FONT></FONT></P>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD WIDTH=1030 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">Additional
				Child Care Subsidy (transition to work)</FONT></FONT></P>
			</TD>
			<TD WIDTH=1738 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">A
				subsidy equal to 95 per cent of the actual fee charged (up to 95
				per cent of the Child Care Subsidy hourly rate cap).</FONT></FONT></P>
			</TD>
			<TD WIDTH=1542 BGCOLOR="#e1d9e7" STYLE="border: 1px solid #ffffff; padding: 0.1in">
				<P><FONT FACE="Open Sans, serif"><FONT SIZE=2 STYLE="font-size: 10pt">The
				hours of subsidised care are determined by the activity test.
				Income must be below $68,163.</FONT></FONT></P>
			</TD>
		</TR>
	</TBODY>
</TABLE>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Additional
Child Care Subsidy (child wellbeing), Additional Child Care Subsidy
(temporary financial hardship) and Additional Child Care Subsidy
(transition to work) are each subject to time limits, outlined in the
following more detailed sections.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
hourly rate for Additional Child Care Subsidy (child wellbeing),
Additional Child Care Subsidy (grandparent) and Additional Child Care
Subsidy (temporary financial hardship) is designed to target support
to those families that are genuinely in need and ensure that cost is
not a barrier to starting or continuing with child care.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>For
example, the maximum Child Care Subsidy hourly rate cap for Centre
Based Day Care is $11.98. Families will be able to access a subsidy
of up to 120 per cent of this rate cap or $14.38 per hour if the
actual fee charged by the service is over the Child Care Subsidy
hourly rate cap rate.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
rate is expected to cover the fees of most services. In exceptional
circumstances, an individual might receive a higher level of
Additional Child Care Subsidy and/or increased hours of assistance.
This will be determined on a case-by-case basis.</FONT></FONT></FONT></P>
<H3 CLASS="western">Individuals who may be eligible for more than one
type of Additional Child Care Subsidy</H3>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Where
an individual becomes eligible for more than one type of Additional
Child Care Subsidy, the individual will only receive one type of
Additional Child Care Subsidy at a time. The order in which the types
of Additional Child Care Subsidy will be applied is:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Additional
	Child Care Subsidy (child wellbeing), then</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Additional
	Child Care Subsidy (grandparent), then</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Additional
	Child Care Subsidy (temporary financial hardship), then</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Additional
	Child Care Subsidy (transition to work).</FONT></FONT></FONT></P>
</UL>
<H2 CLASS="western">Additional Child Care Subsidy (child wellbeing)</H2>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Additional
Child Care Subsidy (child wellbeing) provides additional child care
fee assistance to an individual (or provider) for children at risk of
serious abuse or neglect. It helps to address cost barriers families
may experience so that children can either enter or remain engaged
with child care.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>For
the purposes of Additional Child Care Subsidy (child wellbeing), a
child is taken to be at risk of serious abuse or neglect if the child
is at risk of experiencing harm as a result of current or past
circumstances or events that resulted in the child being subject to,
or exposed to, any of the following:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>serious
	physical, emotional or psychological abuse</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>sexual
	abuse</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>domestic
	or family violence</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>neglect.</FONT></FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
definition of ‘at risk’ includes situations where the child is
likely to experience those circumstances in the future (for example,
the future risk is real and apparent). This allows families to be
eligible for the subsidy at the appropriate earliest point and
potentially before they are known to a child protection agency.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Any
child who is identified as being at risk under state or territory
child protection law will meet the definition of at risk and the
individual (or provider) will therefore be eligible to receive the
payment.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>The
Minister’s Rules set out in detail the circumstances when a child
is taken to be at risk of serious abuse or neglect for the purposes
of Additional Child Care Subsidy (child wellbeing). The&nbsp;</FONT></FONT></FONT><A HREF="https://docs.education.gov.au/documents/guide-accs-child-wellbeing"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><I><U>Guide
to Additional Child Care Subsidy (child wellbeing)</U></I></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>provides
more detail on the administration of this subsidy. This section
provides a summary only and we recommend visiting those resources for
more detailed guidance.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>In
certain cases, a provider may identify a child at risk of neglect or
abuse who meets relevant criteria but may be unable to identify a
parent or carer who is eligible for Additional Child Care Subsidy
(child wellbeing). In these cases, as a last resort, the provider may
be eligible for Additional Child Care Subsidy (child
wellbeing)—provider eligible arrangement. This arrangement will end
once the child is no longer at risk or where an eligible individual
is identified.</FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.17in; background: #ffffff; line-height: 0.25in">
<FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>Provider
eligibility for Additional Child Care Subsidy (child wellbeing)
recognises that in some situations, in the interest of caring for a
child at risk whose parent or carer cannot be identified, the
provider will be incurring the costs of child care. Further
information is available in the&nbsp;</FONT></FONT></FONT><A HREF="https://docs.education.gov.au/documents/guide-accs-child-wellbeing"><FONT COLOR="#2f446c"><FONT FACE="Open Sans, serif"><FONT SIZE=3><I><U>Guide
to Additional Child Care Subsidy (child wellbeing)</U></I></FONT></FONT></FONT></A><FONT COLOR="#444444"><FONT FACE="Open Sans, serif"><FONT SIZE=3>.</FONT></FONT></FONT></P>
<H2 CLASS="western">Additional Child Care Subsidy (grandparent)</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Additional
Child Care Subsidy (grandparent) provides ongoing increased child
care fee assistance to grandparents on income support who are the
principal carers of their grandchildren. A grandparent or a
great-grandparent includes a natural, adoptive or step-grandparent
(or great-grandparent) of the grandchild, or the grandparent’s (or
great-grandparent’s) current or former partner.</FONT></FONT></FONT></FONT></P>
<H4 CLASS="western"><FONT COLOR="#58285f"><FONT FACE="Open Sans, serif"><FONT SIZE=5 STYLE="font-size: 17pt"><B>Information
for families</B></FONT></FONT></FONT></H4>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">Grandparent
carers need to apply directly to Centrelink for Additional Child Care
Subsidy (grandparent).</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">Providers
are not directly involved in the application process but may wish to
encourage families whose circumstances may make them eligible for
Additional Child Care Subsidy (grandparent) to enquire with
Centrelink.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">Providers
will be notified if the Additional Child Care Subsidy (grandparent)
payment is approved for a child enrolled in their service.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">To
be eligible for Additional Child Care Subsidy (grandparent), an
individual must:</FONT></FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">meet the
	eligibility requirements for Child Care Subsidy</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">be the
	grandparent or great-grandparent of the child or children</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">be the principal
	carer of their grandchild or grandchildren, providing all or at
	least 65 per cent of ongoing daily care, and have substantial
	autonomy for day-to-day decisions about the child’s care, welfare
	and development (the grandparent does not have to have formal
	guardianship of the child)</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">receive a social
	security pension or benefit from the Department of Human Services or
	a service pension or income support supplement from the Department
	of Veterans’ Affairs.</FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Grandparents
will be required to provide evidence of their grandparent
relationship and principal care arrangements, such as:</FONT></FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">a child
	protection order made under the state or territory care and
	protection laws</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">a parenting
	order or consent order made under the&nbsp;</FONT></FONT><EM><A HREF="https://www.legislation.gov.au/Details/C2019C00182"><FONT COLOR="#165788"><FONT FACE="Open Sans, serif"><U>Family
	Law Act 1975</U></FONT></FONT></A></EM></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">birth and
	marriage certificates to prove relationship</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">third-party
	evidence such as a letter from child’s school, general
	practitioner or other third party (who has regular interactions with
	the family and can independently verify the circumstances) that
	supports the principal care arrangements</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">a statutory
	declaration confirming the relationship or principal care
	arrangements.</FONT></FONT></P>
</UL>
<H2 CLASS="western">Additional Child Care Subsidy (temporary
financial hardship)</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Additional
Child Care Subsidy (temporary financial hardship) is designed to
provide short-term support to families who are experiencing
significant financial stress due to exceptional circumstances beyond
their control. This will help ensure continuity of care for the child
and ensure that families are provided with support when they need it
most.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">To
be eligible for Additional Child Care Subsidy (temporary financial
hardship), an individual must:</FONT></FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">be eligible for
	Child Care Subsidy</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">be assessed as
	experiencing temporary financial hardship for circumstances that
	occurred no more than six months before the application is made</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">have had a
	substantial reduction in their ability to pay child care fees as a
	direct result of the temporary financial hardship circumstance.</FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">An
individual is taken to be experiencing temporary financial hardship
if they have had a substantial reduction in their ability to pay
child care fees due to any of the following:</FONT></FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">the death of a
	partner or child of the individual</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">a loss of
	employment of the individual, or a partner of the individual, other
	than due to their resignation or retirement</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">a loss of income
	or business failure of the individual, or a partner of the
	individual, due to circumstances outside the control of the
	individual or the partner (such as serious illness)</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">a loss of income
	of the individual due to the death of a former partner, where the
	former partner was providing ongoing financial assistance for the
	child under child support arrangements</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">the individual,
	or a partner of the individual, being adversely affected by a major
	disaster event</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">the destruction
	of, or severe damage to, the home of the individual or of a partner
	of the individual</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">the individual
	having to leave home and not being able to return because of an
	extreme circumstance</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">the individual
	still living at home after being subjected to domestic violence by a
	family member who has left or has been removed from the home.</FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Individuals
will need to provide evidence to demonstrate there is a link between
the circumstances they are experiencing and the financial hardship
(including evidence of a substantial reduction in their ability to
pay child care fees). Evidence will also need to show that the
circumstance or event occurred within six months from the date the
application was made.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">In
some cases, more than one of these circumstances may affect a family
at the same time, increasing and compounding the hardship that the
family is facing. Individuals can nominate one or more circumstances
that have led to their situation of temporary financial hardship.</FONT></FONT></FONT></FONT></P>
<H4 CLASS="western"><FONT COLOR="#58285f"><FONT FACE="Open Sans, serif"><FONT SIZE=5 STYLE="font-size: 17pt"><B>Information
for families</B></FONT></FONT></FONT></H4>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">Where
a family shares information with a provider about difficult
circumstances that are impacting on their ability to pay fees, which
may fall into the circumstances listed above, the provider can
encourage the family to contact Centrelink.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">The
provider is not directly involved in the application process but will
be notified if Additional Child Care Subsidy (temporary financial
hardship) payment is approved for a child enrolled in their service.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">Centrelink
may also be able to provide advice on other support and assistance
based on the family's circumstances.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">The
evidence required to support an application may include:</FONT></FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
	<FONT COLOR="#222222"><FONT FACE="Open Sans, serif">independent
	documentation such as a letter from an employer (for loss of job) or
	from an independent professional</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
	<FONT COLOR="#222222"><FONT FACE="Open Sans, serif">a statutory
	declaration from the individual outlining the nature of the
	temporary hardship event</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
	<FONT COLOR="#222222"><FONT FACE="Open Sans, serif">a formal
	declaration of a natural disaster event where the families concerned
	would be eligible for disaster assistance</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0in; background: #f8f4f0; line-height: 0.25in">
	<FONT COLOR="#222222"><FONT FACE="Open Sans, serif">medical or death
	certificates.</FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">The
evidence provided will need to demonstrate that the individual has
had a substantial reduction in their ability to pay child care fees
as a result.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">An
application for this type of Additional Child Care Subsidy may be
made by the family through their Centrelink online account.
Centrelink will assess the application and advise the provider if
Additional Child Care Subsidy (temporary financial hardship) is to be
paid.</FONT></FONT></FONT></FONT></P>
<H2 CLASS="western">Additional Child Care Subsidy (transition to
work)</H2>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Additional
Child Care Subsidy (transition to work) will provide support to
families who are transitioning to work from income support by
engaging in work, study or training activities.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">To
be eligible for Additional Child Care Subsidy (transition to work) an
individual must:</FONT></FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">be eligible for
	Child Care Subsidy</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">be in receipt of
	an eligible income support or transition to work payment, including
	any of the following</FONT></FONT></P>
	<UL>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">ABSTUDY</FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Austudy</FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Carer Payment</FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Disability
		Support Pension</FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Farm Household
		Allowance</FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Newstart
		Allowance</FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Parenting
		Payment</FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Special Benefit
		(not residentially qualified)</FONT></FONT></P>
		<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
		<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Youth Allowance</FONT></FONT></P>
	</UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">have a family
	income lower than the Child Care Subsidy lower income threshold</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">have a Job Plan
	in effect</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">meet the
	Additional Child Care Subsidy (transition to work) activity
	requirements</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
	<FONT COLOR="#444444"><FONT FACE="Open Sans, serif">not have
	exceeded the time limit for which Additional Child Care Subsidy
	(transition to work) can be paid for their activity.</FONT></FONT></P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Recognised
activities that may be supported under the Additional Child Care
Subsidy (transition to work) include an approved course of education
or study; actively looking for work; paid work; actively setting up a
business; and unpaid work, including a work experience placement or
an internship or vocational training or other program which has a
reasonable likelihood of improving an individual’s employment
prospects.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Individuals
may continue to receive the subsidy for 12 weeks after they gain
employment and their income support payments reduce to zero.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#444444"><FONT FACE="Open Sans, serif">Families
need to apply directly to Centrelink, through their Centrelink online
account, to be assessed for Additional Child Care Subsidy (transition
to work).</FONT></FONT></FONT></FONT></P>
<H4 CLASS="western"><FONT COLOR="#58285f"><FONT FACE="Open Sans, serif"><FONT SIZE=5 STYLE="font-size: 17pt"><B>Information
for families</B></FONT></FONT></FONT></H4>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">Providers
who believe a family using their service may meet these criteria
should advise them to apply directly to Centrelink for Additional
Child Care Subsidy (transition to work). The provider is not directly
involved in the application process but will be notified if
Additional Child Care Subsidy (transition to work) payment is
approved for a child enrolled in their service.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #f8f4f0; line-height: 0.25in">
<FONT FACE="Times New Roman, serif"><FONT SIZE=3><FONT COLOR="#222222"><FONT FACE="Open Sans, serif">Centrelink
may also be able to provide advice on other support and assistance
based on the family's circumstances.</FONT></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
</BODY>
